<!-- header Custom -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark info-color" style="background-color: #000537;">
    <a class="navbar-brand" href="#"><img [src]="urlLogo" width="90" height="40" class="d-inline-block align-top" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <ng-container *ngFor="let menu of menuPrincipal">
                <ng-container *ngIf="menu.childrens && menu.childrens.length > 0; else elseChildrensPrincipal">

                    <li class="nav-item dropdown" routerLinkActive="active">
                        <a class="nav-link dropdown-toggle police-nav" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menu.libelle }}
            </a>
                        <div class="dropdown-menu dropdown-info" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item police-nav" [routerLink]="children.link" *ngFor="let children of menu.childrens" routerLinkActive="active">{{ children.libelle
                }}</a>
                        </div>
                    </li>
                </ng-container>
                <ng-template #elseChildrensPrincipal>
                    <li class="nav-item">
                        <a class="nav-link police-nav" [routerLink]="menu.link" routerLinkActive="active">{{
              menu.libelle }}</a>
                    </li>
                </ng-template>
            </ng-container>
        </ul>
        <ul class="navbar-nav ml-auto">
            <ng-container *ngFor="let menu of menuSecondaire">
                <ng-container *ngIf="menu.childrens && menu.childrens.length > 0; else elseChildrens">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle police-nav" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menu.libelle }}
            </a>
                        <div class="dropdown-menu dropdown-info dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item police-nav" [routerLink]="children.link" *ngFor="let children of menu.childrens" routerLinkActive="active">{{ children.libelle
                }}</a>
                        </div>
                    </li>
                </ng-container>
                <ng-template #elseChildrens>
                    <li class="nav-item">
                        <a class="nav-link police-nav" [routerLink]="menu.link" routerLinkActive="active">{{
              menu.libelle }}</a>
                    </li>
                </ng-template>
            </ng-container>

        </ul>
        <!-- <form class="form-inline">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
        </form> -->
    </div>
</nav>
<nb-layout>
    <!--<nb-layout-header fixed>
        <ngx-header></ngx-header>
      </nb-layout-header> -->

    <!--<nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
        <ng-content select="nb-menu"></ng-content>
      </nb-sidebar>-->

    <nb-layout-column style="padding-top: 76px;">
        <!-- <div class="container"> -->
        <div>
            <router-outlet></router-outlet>
        </div>
    </nb-layout-column>

    <!-- <nb-layout-footer fixed>
        <ngx-footer></ngx-footer>
    </nb-layout-footer> -->
</nb-layout>
