<!-- header Custom -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark info-color" style="background-color: #000537;">
    <a class="navbar-brand" href="#"><img [src]="urlLogo" width="90" height="40" class="d-inline-block align-top" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <ng-container *ngFor="let menu of menuPrincipal">
                <ng-container *ngIf="menu.childrens && menu.childrens.length > 0; else elseChildrensPrincipal">

                    <li class="nav-item dropdown" routerLinkActive="active">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menu.libelle }}
                        </a>
                        <div class="dropdown-menu dropdown-info" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" [routerLink]="children.link" *ngFor="let children of menu.childrens" routerLinkActive="active">{{ children.libelle }}</a>
                        </div>
                    </li>
                </ng-container>
                <ng-template #elseChildrensPrincipal>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="menu.link" routerLinkActive="active">{{ menu.libelle }}</a>
                    </li>
                </ng-template>
            </ng-container>
        </ul>
        <ul class="navbar-nav ml-auto">
            <ng-container *ngFor="let menu of menuSecondaire">
                <ng-container *ngIf="menu.childrens && menu.childrens.length > 0; else elseChildrens">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menu.libelle }}
                        </a>
                        <div class="dropdown-menu dropdown-info dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" [routerLink]="children.link" *ngFor="let children of menu.childrens" routerLinkActive="active">{{ children.libelle }}</a>
                        </div>
                    </li>
                </ng-container>
                <ng-template #elseChildrens>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="menu.link" routerLinkActive="active">{{ menu.libelle }}</a>
                    </li>
                </ng-template>
            </ng-container>

        </ul>
        <!-- <form class="form-inline">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
        </form> -->
    </div>
</nav>
<nb-layout>
    <!--<nb-layout-header fixed>
        <ngx-header></ngx-header>
      </nb-layout-header> -->

    <!--<nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
        <ng-content select="nb-menu"></ng-content>
      </nb-sidebar>-->

    <nb-layout-column style="padding-top: 76px;">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </nb-layout-column>

    <!-- <nb-layout-footer fixed>
        <ngx-footer></ngx-footer>
    </nb-layout-footer> -->
</nb-layout>
<!-- footer Custom -->
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark" style="background-color: #000537; color:white;">

    <div>
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0" style="color:white;">Get connected with us on social networks!
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f white-text mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <!-- <a class="tw-ic">
                        <i class="fab fa-twitter white-text mr-4"> </i>
                    </a> -->
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus-g white-text mr-4"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram white-text"> </i>
                    </a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-1" style="color:white;">

        <!-- Grid row -->
        <div class="row mt-3 mb-2">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold" style="color:white;">Petite description</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p style="color:white;">Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold" style="color:white;">Products</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#">Produit 1</a>
                </p>
                <p>
                    <a href="#">Produit 2</a>
                </p>
                <p>
                    <a href="#">Produit 3</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold" style="color:white;">Useful links</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#">Your Account</a>
                </p>
                <p>
                    <a href="#">Become an Affiliate</a>
                </p>
                <p>
                    <a href="#">Help</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold" style="color:white;">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p style="color:white;">
                    <i class="fas fa-home mr-3"></i> Treicheville, Abidjan, Rue 12</p>
                <p style="color:white;">
                    <i class="fas fa-envelope mr-3"></i> contact@close-apps.com</p>
                <p style="color:white;">
                    <i class="fas fa-phone mr-3"></i> + 225 56 65 65 65 / 58 65 65 65</p>


            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright
        <a href="https://close-apps.com/">CLOSE</a>. Tous les droits sont reservés
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
<!-- Footer -->