// .service-single {
//     padding: 40px 0px;
//     background: #fff;
//     border-radius: 5px;
//     text-align: center;
//     box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);
//     img {
//         max-width: 150px;
//         margin-bottom: 33px;
//     }
//     h2 {
//         font-size: 30px;
//         font-weight: 500;
//         color: #232323;
//         letter-spacing: 0;
//         margin-bottom: 10px;
//     }
// }
// .screen-area {
//     position: absolute;
//     left: 50%;
//     bottom: 152px;
//     width: 506px;
//     height: 546px;
//     z-index: 111;
//     transform: translateX(-50%);
// }
// .screen-img {
//     position: sticky;
//     left: 50%;
//     bottom: 152px;
//     width: 506px;
//     height: 546px;
//     z-index: 111;
//     transform: translateX(-50%);
// }
// .screen-slider {
//     margin-top: 116px;
// }
// *,
// *:before,
// *:after {
//     -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
// }
// // .service-single img {
// //     max-width: 150px;
// //     margin-bottom: 33px;
// // }
// img {
//     max-width: 100%;
//     height: auto;
// }
// :host ::ng-deep nb-stepper .step-content {
//     text-align: center;
//     button {
//         cursor: pointer;
//         margin: 0.5rem;
//     }
// }
// .button-custom {
//     background-color: transparent;
//     border-color: #fff;
//     border-radius: 33px;
//     color: #ffffff;
//     margin: 10px;
//     &:hover {
//         color: black;
//         background-color: #fff;
//     }
// }