<!-- <div style="height: 500px; background-color: #000537; width: 100%;">

</div> -->

<!-- <div style="width: 1OO%; height: 200px; background-color: #000537;border-radius: 0% 0% 50% 30%;box-shadow: 0px 1px 1px 80px #000537;">
</div> -->
<div style="width: 100%; height: 300px; background-color: #000537; border-radius: 0% 0% 0% 30%; box-shadow: 0px 1px 1px 80px hsl(235, 100%, 11%) ; color: white;">

    <div class="row">
        <div class="col-md-6"><img src="assets/images/slider-left-img.png" alt="slider image" style="width: 400px; height: 300px;">
        </div>
        <div class="col-md-6">
            <h1 style="color: white; font-family: 'Akaya Telivigala', cursive;">Close, le tout en un de la fidélisation
                <!-- <h1 style="color: white; font-family: 'Cookie', cursive;">Close, le tout en un de la fidélisation -->
            </h1>
            <!-- <p style="color: white; font-family: cursive;">Close, le tout en un de la fidélisation</p> -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12" style="padding-top: 20px;">
        <div class="service-single">
            <img src="assets/images/regrouper1.png" alt="service image">
            <h2>Tout en un</h2>
            <p>Un petit texte comme lui meme</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12" style="padding-top: 20px;">
        <div class="service-single">
            <img src="assets/images/proximite1.png" alt="service image">
            <h2>Plus proche</h2>
            <p>Un petit texte comme lui meme</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12" style="padding-top: 20px;">
        <div class="service-single">
            <img src="assets/images/simplicite1.png" alt="service image">
            <h2>Simple à utiliser</h2>
            <p>Un petit texte comme lui meme</p>
        </div>
    </div>
</div>
<br />


<div class="section-title">
    <h2>Présentation</h2>
    <!-- <p>Nemo enim ipsam voluptatem quia voluptas sit </p> -->
</div>
<div class="row">
    <!-- <h1>Présentation</h1> -->
    <div class="row" style="align-items: center;">
        <div class="col-md-6"><img src="assets/images/presentation2.png" alt="slider image"></div>
        <div class="col-md-6">
            <p style="margin-bottom: 25px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiuiosmod terttmpor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. doliuor
                in reprehenderit in voluptate velit esse dolore eu fugiat nulla pariatur. cdatat non proident</p>
            <p style="margin-bottom: 25px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tuiempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            </p>
            <p style="margin-bottom: 25px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiuiosmod terttmpor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. doliuor
                in reprehenderit in voluptate velit esse dolore eu fugiat nulla pariatur. cdatat non proident</p>
            <p style="margin-bottom: 25px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tuiempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            </p>
            <p style="margin-bottom: 25px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiuiosmod terttmpor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. doliuor
                in reprehenderit in voluptate velit esse dolore eu fugiat nulla pariatur. cdatat non proident</p>

        </div>
    </div>

</div>


<div class="section-title">
    <h2>Avantages</h2>
    <!-- <p>Nemo enim ipsam voluptatem quia voluptas sit </p> -->
</div>
<div class="row">
    <!-- <h1>Avantages</h1> -->
</div>

<div class="row">
    <div class="accordion-container col-md-12">
        <nb-accordion>
            <!-- <nb-accordion multi>-->
            <nb-accordion-item>
                <nb-accordion-item-header>
                    Avantage 1
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    Informations que vous nous fournissez: nous recevons et stockons les informations que vous nous fournissez, y compris vos données d'identité, vos coordonnées, votre adresse de livraison et vos données financières. Informations sur votre utilisation de
                    notre site Web et / ou de nos applications mobiles: nous collectons et stockons automatiquement certains types d'informations concernant votre utilisation du site Jumia (marketplace), y compris des informations sur vos recherches,
                    vues, téléchargements et achats. Informations provenant de tiers et de sources accessibles au public: nous pouvons recevoir des informations vous concernant de tiers, y compris nos transporteurs; prestataires de services de paiement;
                    marchands / marques; et prestataires de services publicitaires.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>
                    Avantage 2
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    Nous avons mis en place des mesures de sécurité appropriées pour éviter que vos données personnelles ne soient accidentellement perdues, utilisées ou consultées de manière non autorisée, modifiées ou divulguées. En outre, nous limitons l'accès à vos données
                    personnelles aux employés, agents, sous-traitants et autres tiers qui ont besoin de les connaître pour exécuter leurs obligations. Ils ne traiteront vos données personnelles que sur nos instructions et sont soumis à un devoir de confidentialité.
                    Nous avons mis en place des procédures pour faire face à toute violation présumée de données personnelles et vous informerons ainsi que tout organisme de réglementation compétent, de toute violation lorsque nous sommes légalement tenus
                    de le faire. </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>
                    Avantage 3
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    Il est important que les données personnelles que nous détenons à votre sujet soient exactes et à jour. Veuillez nous tenir informés si vos données personnelles changent pendant votre relation avec nous. Dans certaines circonstances, vous avez des droits
                    en vertu des lois sur la protection des données en ce qui concerne vos données personnelles, y compris le droit d'accéder, de corriger ou de supprimer vos données personnelles et le droit de vous opposer ou de restreindre le traitement
                    de vos données personnelles.
                </nb-accordion-item-body>
            </nb-accordion-item>
            <nb-accordion-item>
                <nb-accordion-item-header>
                    Avantage 4
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    Il est important que les données personnelles que nous détenons à votre sujet soient exactes et à jour. Veuillez nous tenir informés si vos données personnelles changent pendant votre relation avec nous. Dans certaines circonstances, vous avez des droits
                    en vertu des lois sur la protection des données en ce qui concerne vos données personnelles, y compris le droit d'accéder, de corriger ou de supprimer vos données personnelles et le droit de vous opposer ou de restreindre le traitement
                    de vos données personnelles.
                </nb-accordion-item-body>
            </nb-accordion-item>
            <nb-accordion-item>
                <nb-accordion-item-header>
                    Avantage 5
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    Il est important que les données personnelles que nous détenons à votre sujet soient exactes et à jour. Veuillez nous tenir informés si vos données personnelles changent pendant votre relation avec nous. Dans certaines circonstances, vous avez des droits
                    en vertu des lois sur la protection des données en ce qui concerne vos données personnelles, y compris le droit d'accéder, de corriger ou de supprimer vos données personnelles et le droit de vous opposer ou de restreindre le traitement
                    de vos données personnelles.
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </div>
    <!-- <div class="col-md-12">
        <nb-card size="medium">
            <nb-card-body>
                <nb-stepper orientation="horizontal">
                    <nb-step label="Présentation">
                        <h3>Point 1</h3>
                        <p class="lorem">
                            Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum, sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis viverra ex. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Praesent metus turpis, commodo vel placerat quis, lobortis in ligula.
                        </p>

                        <h3>Point 2</h3>
                        <p class="lorem">
                            Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum, sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis viverra ex. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Praesent metus turpis, commodo vel placerat quis, lobortis in ligula.
                        </p>
                        <button nbButton disabled nbStepperNext>prev</button>
                        <button nbButton nbStepperNext>next</button>
                    </nb-step>
                    <nb-step label="Avantages">
                        <h3>Avantage 1</h3>
                        <p class="lorem">
                            Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui eu sapien pellentesque, eu placerat leo
                            luctus. Cras pharetra blandit fermentum.Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia
                            semper. Nulla placerat dui eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
                        </p>
                        <h3>Avantage 2</h3>
                        <p class="lorem">
                            Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui eu sapien pellentesque, eu placerat leo
                            luctus. Cras pharetra blandit fermentum.Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia
                            semper. Nulla placerat dui eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
                        </p>
                        <button nbButton nbStepperPrevious>prev</button>
                        <button nbButton nbStepperNext>next</button>
                    </nb-step>
                </nb-stepper>
            </nb-card-body>
        </nb-card>
    </div> -->
</div>
<br />
<br />

<!-- <h1>Quelques captures</h1> -->
<div class="section-title">
    <h2>Quelques captures</h2>
    <!-- <p>Nemo enim ipsam voluptatem quia voluptas sit </p> -->
</div>
<br />

<!-- <section class="screen-area bg-gray ptb--100" id="screenshot">
    <div class="container">
        <div class="section-title">
            <h2>Screenshot</h2>
            <p>Nemo enim ipsam voluptatem quia voluptas sit</p>
        </div>
        <img class="screen-img" src="assets/images/mobile/screen-slider.png" alt="mobile screen">
        <div class="screen-slider owl-carousel owl-loaded owl-drag">







            <div class="owl-stage-outer">
                <div class="owl-stage" style="transition: all 1s ease 0s; width: 3944px; transform: translate3d(-2088px, 0px, 0px);">
                    <div class="owl-item cloned" style="width: 212px; margin-right: 20px;">
                        <div class="single-screen">
                            <img src="assets/images/mobile/screen-slider/screen3.jpg" alt="mobile screen">
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 212px; margin-right: 20px;">
                        <div class="single-screen">
                            <img src="assets/images/mobile/screen-slider/screen4.jpg" alt="mobile screen">
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 212px; margin-right: 20px;">
                        <div class="single-screen">
                            <img src="assets/images/mobile/screen-slider/screen5.jpg" alt="mobile screen">
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 212px; margin-right: 20px;">
                        <div class="single-screen">
                            <img src="assets/images/mobile/screen-slider/screen3.jpg" alt="mobile screen">
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 212px; margin-right: 20px;">
                        <div class="single-screen">
                            <img src="assets/images/mobile/screen-slider/screen4.jpg" alt="mobile screen">
                        </div>
                    </div>
                    <div class="owl-item" style="width: 212px; margin-right: 20px;">
                        <div class="single-screen">
                            <img src="assets/images/mobile/screen-slider/screen1.jpg" alt="mobile screen">
                        </div>
                    </div>
                    <div class="owl-item" style="width: 212px; margin-right: 20px;">
                        <div class="single-screen">
                            <img src="assets/images/mobile/screen-slider/screen2.jpg" alt="mobile screen">
                        </div>
                    </div>
                    <div class="owl-item" style="width: 212px; margin-right: 20px;">
                        <div class="single-screen">
                            <img src="assets/images/mobile/screen-slider/screen3.jpg" alt="mobile screen">
                        </div>
                    </div>
                    <div class="owl-item" style="width: 212px; margin-right: 20px;">
                        <div class="single-screen">
                            <img src="assets/images/mobile/screen-slider/screen4.jpg" alt="mobile screen">
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 212px; margin-right: 20px;">
                        <div class="single-screen">
                            <img src="assets/images/mobile/screen-slider/screen5.jpg" alt="mobile screen">
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 212px; margin-right: 20px;">
                        <div class="single-screen">
                            <img src="assets/images/mobile/screen-slider/screen3.jpg" alt="mobile screen">
                        </div>
                    </div>
                    <div class="owl-item active center" style="width: 212px; margin-right: 20px;">
                        <div class="single-screen">
                            <img src="assets/images/mobile/screen-slider/screen4.jpg" alt="mobile screen">
                        </div>
                    </div>
                    <div class="owl-item cloned active" style="width: 212px; margin-right: 20px;">
                        <div class="single-screen">
                            <img src="assets/images/mobile/screen-slider/screen1.jpg" alt="mobile screen">
                        </div>
                    </div>
                    <div class="owl-item cloned active" style="width: 212px; margin-right: 20px;">
                        <div class="single-screen">
                            <img src="assets/images/mobile/screen-slider/screen2.jpg" alt="mobile screen">
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 212px; margin-right: 20px;">
                        <div class="single-screen">
                            <img src="assets/images/mobile/screen-slider/screen3.jpg" alt="mobile screen">
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 212px; margin-right: 20px;">
                        <div class="single-screen">
                            <img src="assets/images/mobile/screen-slider/screen4.jpg" alt="mobile screen">
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 212px; margin-right: 20px;">
                        <div class="single-screen">
                            <img src="assets/images/mobile/screen-slider/screen5.jpg" alt="mobile screen">
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-nav disabled">
                <div class="owl-prev">prev</div>
                <div class="owl-next">next</div>
            </div>
            <div class="owl-dots">
                <div class="owl-dot"><span></span></div>
                <div class="owl-dot"><span></span></div>
                <div class="owl-dot"><span></span></div>
                <div class="owl-dot"><span></span></div>
                <div class="owl-dot"><span></span></div>
                <div class="owl-dot"><span></span></div>
                <div class="owl-dot active"><span></span></div>
            </div>
        </div>
    </div>
</section> -->
<!-- <section class="screen-area" id="screenshot">
    <div class="row" style="margin-bottom: 70px;">

        <div class="col-md-12">
            <img class="screen-img" src="assets/images/screen-slider.png" alt="mobile screen">
            <div class="screen-slider owl-carousel owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transition: all 1s ease 0s; width: 3944px; transform: translate3d(-1856px, 0px, 0px);">
                        <div class="owl-item cloned" style="width: 212px; margin-right: 20px;">
                            <div class="single-screen">
                                <img src="assets/images/screen3.jpg" alt="mobile screen">
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 212px; margin-right: 20px;">
                            <div class="single-screen">
                                <img src="assets/images/screen4.png" alt="mobile screen">
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 212px; margin-right: 20px;">
                            <div class="single-screen">
                                <img src="assets/images/screen1.png" alt="mobile screen">
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 212px; margin-right: 20px;">
                            <div class="single-screen">
                                <img src="assets/images/screen3.jpg" alt="mobile screen">
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 212px; margin-right: 20px;">
                            <div class="single-screen">
                                <img src="assets/images/screen4.png" alt="mobile screen">
                            </div>
                        </div>
                        <div class="owl-item" style="width: 212px; margin-right: 20px;">
                            <div class="single-screen">
                                <img src="assets/images/screen1.png" alt="mobile screen">
                            </div>
                        </div>
                        <div class="owl-item" style="width: 212px; margin-right: 20px;">
                            <div class="single-screen">
                                <img src="assets/images/screen2.jpg" alt="mobile screen">
                            </div>
                        </div>
                        <div class="owl-item" style="width: 212px; margin-right: 20px;">
                            <div class="single-screen">
                                <img src="assets/images/screen3.jpg" alt="mobile screen">
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 212px; margin-right: 20px;">
                            <div class="single-screen">
                                <img src="assets/images/screen4.png" alt="mobile screen">
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 212px; margin-right: 20px;">
                            <div class="single-screen">
                                <img src="assets/images/screen1.png" alt="mobile screen">
                            </div>
                        </div>
                        <div class="owl-item active center" style="width: 212px; margin-right: 20px;">
                            <div class="single-screen">
                                <img src="assets/images/screen3.jpg" alt="mobile screen">
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 212px; margin-right: 20px;">
                            <div class="single-screen">
                                <img src="assets/images/screen4.png" alt="mobile screen">
                            </div>
                        </div>
                        <div class="owl-item cloned active" style="width: 212px; margin-right: 20px;">
                            <div class="single-screen">
                                <img src="assets/images/screen1.png" alt="mobile screen">
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 212px; margin-right: 20px;">
                            <div class="single-screen">
                                <img src="assets/images/screen2.jpg" alt="mobile screen">
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 212px; margin-right: 20px;">
                            <div class="single-screen">
                                <img src="assets/images/screen3.jpg" alt="mobile screen">
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 212px; margin-right: 20px;">
                            <div class="single-screen">
                                <img src="assets/images/screen4.png" alt="mobile screen">
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 212px; margin-right: 20px;">
                            <div class="single-screen">
                                <img src="assets/images/screen1.png" alt="mobile screen">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav disabled">
                    <div class="owl-prev">prev</div>
                    <div class="owl-next">next</div>
                </div>
                <div class="owl-dots">
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot active"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="screen-area" id="screenshot" style="padding-bottom: 100px">
    <img class="screen-img" src="assets/images/screen-slider.png" alt="mobile screen">
    <div style="padding-top: 70px;">
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let slide of slidesStore">
                <ng-template style="width: 212px;" carouselSlide [id]="slide.id">
                    <!-- <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" style="width: 212px; margin-right: 20px;"> -->
                    <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" style="width: 242px;">
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</section>
<br />
<br />
<div style="width: 100%; height: 200px; background-color: #000537; border-radius: 0% 0% 0% 0%; box-shadow: 0px 1px 1px 80px hsl(235, 100%, 11%) ; color: white;">
    <h1 style="color: white; font-family: 'Akaya Telivigala', cursive;">Téléchager l'application</h1>

    <div class="col-md-6">
        <button nbButton style="background-color: transparent;border-color: #fff; border-radius: 33px; color: #ffffff; margin: 10px"><img
        src="assets/images/google-play.png" alt="slider image" width="30px"> Android</button>
        <button nbButton style="background-color: transparent;border-color: #fff; border-radius: 33px; color: #ffffff; margin: 10px"><img
        src="assets/images/apple-app-store-2.png" alt="slider image" width="30px"> iOS</button>

    </div>
    <div class="col-md-6"></div>


</div>
