<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body>
                <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
                    <h2 class="title">Votre lien n'est plus valide ou a un problème. </h2>
                    <!--<small class="sub-title">The page you were looking for doesn't exist</small> Take me home-->
                    <small class="sub-title">Merci de reprende le processus !!!</small>
                    <button nbButton fullWidth type="button" class="home-button">
            Mot de passe oublier
          </button>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>