<nb-card>
    <nb-card-header>Alerter cet utilisateur</nb-card-header>
    <nb-card-body>
        <textarea type="text" rows="5" nbInput fullWidth #message placeholder="message"></textarea>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <button class="cancel" nbButton status="danger" (click)="cancel()">Non</button>
                <button nbButton [disabled]="message.value" status="success" (click)="submit(message.value)">Oui</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>