<nb-card>
    <!-- <nb-card-header style="text-align: center; font-weight: bold;">Programme de fidelité Carte</nb-card-header> -->
    <nb-card-body>
        <ng-container *ngIf="optionAffichage == 'ACCUEIL'">
            <div class="row">
                <div class="col-md-12">

                    <div class="row mb-4">
                        <ng-container *ngIf="isAdminEnseigne; else isAdminEnseigneElseBlock">

                            <div class="col">
                                <!-- <h1 style="margin-top: 0px; margin-bottom: 0px;">Liste de mes programmes de fidelité Carte
                                                        </h1> -->
                                <h1 style="margin-top: 0px; margin-bottom: 0px;">Liste de mes programmes à points
                                </h1>
                            </div>
                            <div class="col col-auto">
                                <button type="button" (click)="createPDFCarte()" nbButton>CREER</button>
                            </div>
                        </ng-container>
                        <ng-template #isAdminEnseigneElseBlock>
                            <div class="col-md-12">
                                <!-- <h1 style="margin-top: 0px; margin-bottom: 0px;">Liste de mes programmes de fidelité Carte
                                                      </h1> -->
                                <h1 style="margin-top: 0px; margin-bottom: 0px;">Liste de mes programmes à points
                                </h1>
                            </div>
                        </ng-template>


                        <br>
                    </div>
                    <table class="table table-responsive-md table-hover" id="example">
                        <thead>
                            <tr>
                                <th scope="col">Libellé</th>
                                <th scope="col">Valeur achetée</th>
                                <th scope="col">Points obtenus</th>
                                <th scope="col">Correspondance en F CFA</th>
                                <th scope="col">PDV</th>
                                <th scope="col">Utilisateurs</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="datasPDFCarte && datasPDFCarte.length > 0">
                            <ng-container *ngFor="let data of datasPDFCarte">
                                <tr>
                                    <td>{{data.libelle}}</td>
                                    <td>{{data.pourXAcheter}}</td>
                                    <td>{{data.nbrePointObtenu}}</td>
                                    <td>{{data.correspondanceNbrePoint}}</td>
                                    <td>
                                        <ng-container *ngIf="data.isDispoInAllPdv && data.isDispoInAllPdv == true; else elseNbrePDV">
                                            Tous
                                        </ng-container>
                                        <ng-template #elseNbrePDV>{{data.nbrePDV}}</ng-template>
                                    </td>
                                    <td>{{data.nbreUtilisateur}}</td>
                                    <td>
                                        <nb-icon class="m-1" (click)="scannerManuellemnt(data)" icon="flash-outline" pack="eva">
                                        </nb-icon>
                                        <nb-icon class="m-1" (click)="showPDFCarte(data)" icon="eye-outline" pack="eva">
                                        </nb-icon>
                                        <ng-container *ngIf="isAdminEnseigne">
                                            <nb-icon class="m-1" (click)="updatePDFCarte(data)" icon="edit-2-outline" pack="eva"></nb-icon>
                                            <nb-icon class="m-1" (click)="deletePDFCarte(data)" icon="trash-outline" pack="eva">
                                            </nb-icon>
                                        </ng-container>





                                        <!--
                                <button type="button" (click)="voirAppelDoffres(data)">
                                  <nb-icon icon="eye-outline" pack="eva"></nb-icon>
                                </button>
                                <button type="button" (click)="voirAppelDoffres(data)">
                                  <nb-icon icon="edit-2-outline" pack="eva"></nb-icon>
                                </button>
                                <button type="button" (click)="voirAppelDoffres(data)">
                                  <nb-icon icon="trash-outline" pack="eva"></nb-icon>
                                </button>
                                -->
                                    </td>
                                </tr>

                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="optionAffichage == 'VOIR'">

            <div class="row mb-4">

                <div class="col-md-12">

                    <h3 style="margin-top: 0px; margin-bottom: 0px;">Détails du programmes à points: {{ model.libelle }}
                    </h3>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="libelle" class="label">Libellé : {{model.libelle}}</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pourXAcheter" class="label">Pour x valeur achetés : {{model.pourXAcheter}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nbrePointObtenu" class="label">Nombre de point obtenu :
              {{model.nbrePointObtenu}}</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="correspondanceNbrePoint" class="label">La correspondance du nombre de point obtenu
              en FCFA :
              {{model.correspondanceNbrePoint}}</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pointObtenuParParrain" class="label">Nombre de point obtenu par le parrain :
              {{model.pointObtenuParParrain}}</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pointObtenuParFilleul" class="label">Nombre de point obtenu par le filleul :
              {{model.pointObtenuParFilleul}}</label>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="pointObtenuApresSouscription" class="label">Nombre de point obtenu apres
              souscription : {{model.pointObtenuApresSouscription}}</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <ng-container *ngIf="model.isDispoInAllPdv && model.isDispoInAllPdv == true; else elseIsAllCarteDipso">
                            <label class="label">{{ allPDVPourCePDFCarte }} </label>
                        </ng-container>
                        <ng-template #elseIsAllCarteDipso>
                            <label for="listeCarte" class="label">Listes des PDV pour ce PDF Carte</label>
                            <table class="table table-hover table-responsive-md">
                                <thead>
                                    <tr>
                                        <th scope="col">N°</th>
                                        <th scope="col">Nom</th>
                                    </tr>
                                </thead>
                                <ng-container *ngIf="model.datasPointDeVente">
                                    <tbody>
                                        <tr *ngFor="let data of model.datasPointDeVente; index as i">
                                            <th>{{ i }}</th>
                                            <td>{{ data.nom}}</td>
                                        </tr>
                                    </tbody>
                                </ng-container>

                            </table>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description" class="label">Description</label>
                        <textarea type="text" rows="5" readonly nbInput fullWidth id="description" [(ngModel)]="model.description" name="description" placeholder="Description"></textarea>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12" style="font-weight: bold; padding: 15px;">
                    LA LISTE DES REGLES DE SECURITE
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-responsive-md">
                        <thead>
                            <tr>
                                <th scope="col">Temps</th>
                                <th scope="col">Nombre maxi de point</th>
                                <th scope="col">Nombre maxi de fois credité par PDV</th>
                            </tr>
                        </thead>
                        <ng-container *ngIf="model.datasInformationRegleSecuriteCarte">
                            <tbody>
                                <tr *ngFor=" let data of model.datasInformationRegleSecuriteCarte">
                                    <td>{{ data.uniteTempsLibelle}}</td>
                                    <td>{{ data.plafondSommeACrediter}}</td>
                                    <td>{{ data.nbreFoisCrediterParPdv}}</td>
                                </tr>
                            </tbody>
                        </ng-container>

                    </table>
                </div>
            </div>




            <div class="row">
                <div class="col-md-12" style="font-weight: bold; padding: 15px;">
                    LA LISTE DES UTILISATEURS EN DELIT
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-responsive-md">
                        <thead>
                            <tr>
                                <th scope="col">Nom & prénoms</th>
                                <th scope="col">Identifiant</th>
                                <th scope="col">email</th>
                                <th scope="col">Téléphone</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <ng-container *ngIf="datasUserEnDelit">
                            <tbody>
                                <tr *ngFor=" let dataUser of datasUserEnDelit">
                                    <td>{{ dataUser.nom + " " + dataUser.prenoms}}</td>
                                    <td>{{ dataUser.email}}</td>
                                    <td>{{ dataUser.login}}</td>
                                    <td>{{ dataUser.telephone}}</td>
                                    <td>
                                        <nb-icon class="m-1" (click)="showUserEnDelit(dataUser)" icon="eye-outline" pack="eva"></nb-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </ng-container>
                    </table>
                </div>
            </div>
        </ng-container>
    </nb-card-body>
</nb-card>
