<nb-card>
    <nb-card-header>Google Maps with search</nb-card-header>
    <nb-card-body>
        <ngx-search (positionChanged)="updateLocation($event)"></ngx-search>
        <ngx-map [searchedLocation]="searchedLocation"></ngx-map>
    </nb-card-body>
</nb-card>