<section class="pricing-area ptb--100" id="pricing">
    <div class="container">
        <div class="section-title">
            <h2>Nos services</h2>
            <p>Ceci est une game variée de nos souscription pour les entreprises...</p>
        </div>
        <div class="row">

            <ng-container *ngIf="datasSouscription;else templateName">
                <ng-container *ngFor="let offre of datasSouscription; let index = index">
                    <div class="col-md-4">
                        <div class="single-price">
                            <div class="prc-head">
                                <span>Offre {{ index + 1 }}</span>
                                <h5 style="color: white;"><small></small>{{getPrix(offre.prix)}}</h5>
                            </div>
                            <ul>
                                <li>{{ offre.pallierForfaitLibelle}}</li>
                                <li>{{ offre.description}}</li>
                            </ul>
                            <a href="#" style="color: #000537;" routerLink="/authentification/demande-inscription">Nous rejoindre</a>
                        </div>
                    </div>
                    <!-- <br *ngIf="index == 2 || index == 5 || index == 8" /> -->
                </ng-container>
            </ng-container>
            <ng-template #templateName>
                <p>Aucune offre disponible pour l'instant... Merci de rester connecter pour les nouvautés</p>
            </ng-template>


        </div>

    </div>
</section>