<nb-card>
    <nb-card-header style="text-align: center; font-weight: bold;">SCANNER MANUELLEMENT UN CLIENT POUR UN PROGRAMME A {{ sendDatasService.isPDFTampon ? "TAMPONS" : "CARTES"}}
    </nb-card-header>
    <nb-card-body>
        <form (ngSubmit)="submit(monModelForm)" #monModelForm="ngForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="login" class="label">Identifiant ou email client <span style="color: red;">*</span></label>
                        <input type="text" name="login" nbInput fullWidth id="login" placeholder="Identifiant ou email" [(ngModel)]="login" #ngLogin="ngModel" required [status]="ngLogin.touched? (ngLogin.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="ngLogin.invalid && ngLogin.touched">
                            <p class="caption status-danger" *ngIf="ngLogin.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>
                </div>



            </div>

            <div *ngIf="!sendDatasService.isPDFTampon" class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="datasTypeActions" class="label">Action <span style="color: red;">*</span></label>

                        <nb-select name="datasTypeActions" required (selectedChange)="changeAction($event)" [(ngModel)]="dataTypeAction" #ngDatasTypeAction="ngModel" fullWidth placeholder="Type action">
                            <nb-option *ngFor=" let data of datasTypeAction" [value]="data">
                                {{data.libelle}}</nb-option>
                        </nb-select>

                        <ng-container *ngIf="ngDatasTypeAction.invalid && (ngDatasTypeAction.dirty || ngDatasTypeAction.touched)">
                            <small class="caption status-danger" *ngIf="ngDatasTypeAction.errors?.required">Champ
                requis!</small>
                        </ng-container>
                    </div>
                </div>

                <ng-container *ngIf="isDebiter; else elseIsDebiter">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="chiffreDaffaire" class="label">Somme achat <span style="color: red;">*</span></label>
                            <input type="number" name="chiffreDaffaire" min="1" nbInput fullWidth id="chiffreDaffaire" placeholder="Somme achat" [(ngModel)]="chiffreDaffaire" #ngChiffreDaffaire="ngModel" required [status]="ngChiffreDaffaire.touched? (ngChiffreDaffaire.invalid ?'danger' :'success') :''">
                            <ng-container *ngIf="ngChiffreDaffaire.invalid && (ngChiffreDaffaire.touched || ngChiffreDaffaire.dirty)">
                                <p class="caption status-danger" *ngIf="ngChiffreDaffaire.errors?.required">
                                    Champ requis!
                                </p>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="somme" class="label">Somme à débiter <span style="color: red;">*</span></label>
                            <input type="number" name="somme" min="1" nbInput fullWidth id="somme" placeholder="Somme à débiter" [(ngModel)]="somme" #ngSomme="ngModel" required [status]="ngSomme.touched? (ngSomme.invalid ?'danger' :'success') :''">
                            <ng-container *ngIf="ngSomme.invalid && (ngSomme.touched || ngSomme.dirty)">
                                <p class="caption status-danger" *ngIf="ngSomme.errors?.required">
                                    Champ requis!
                                </p>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
                <ng-template #elseIsDebiter>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="somme" class="label">Somme achat <span style="color: red;">*</span></label>
                            <input type="number" name="somme" min="1" nbInput fullWidth id="somme" placeholder="Somme achat" [(ngModel)]="somme" #ngSomme="ngModel" required [status]="ngSomme.touched? (ngSomme.invalid ?'danger' :'success') :''">
                            <ng-container *ngIf="ngSomme.invalid && (ngSomme.touched || ngSomme.dirty)">
                                <p class="caption status-danger" *ngIf="ngSomme.errors?.required">
                                    Champ requis!
                                </p>
                            </ng-container>
                        </div>
                    </div>
                </ng-template>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="commentaire" class="label">Commentaire</label>
                        <textarea type="text" rows="5" nbInput fullWidth id="description" [(ngModel)]="description" name="description" placeholder="Commentaire"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-auto mr-auto"></div>
                <div class="col-auto">
                    <button type="submit" [disabled]="!monModelForm.valid || isSubmitted" nbButton status="danger" style="border-radius: 5px; border-style: none; background-color: #E34234; color:
                                                      white;">
            Valider
          </button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>
