<nb-card style="border-radius: 50px;">
    <nb-card-header style=" text-align: center; font-weight: bold;">MISE A JOUR PROFIL UTILISATEUR</nb-card-header>
    <nb-card-body>
        <form (ngSubmit)="submit(monModelForm)" #monModelForm="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nom" class="label">Nom <span style="color: red;">*</span></label>
                        <input type="text" name="nom" nbInput fullWidth id="nom" placeholder="Nom" [(ngModel)]="model.nom" #nom="ngModel" required [status]="nom.dirty? (nom.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="nom.invalid && nom.touched">
                            <p class="caption status-danger" *ngIf="nom.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="prenoms" class="label">Prenoms</label>
                        <input type="text" name="prenoms" nbInput fullWidth [(ngModel)]="model.prenoms" id="prenoms" placeholder="Prenoms">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email" class="label">Email <span style="color: red;">*</span></label>
                        <input type="email" nbInput fullWidth id="email" name="email" placeholder="Email" [(ngModel)]="model.email" #email="ngModel" required pattern=".+@.+\..+" [status]="email.dirty? (email.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="email.invalid && email.touched">
                            <p class="caption status-danger" *ngIf="email.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="email.errors?.pattern">
                                Exemple de saisie: exemple@gmail.com
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="telephone" class="label">Téléphone</label>
                        <input type="tel" nbInput fullWidth id="telephone" [(ngModel)]="model.telephone" name="telephone" placeholder="Téléphone">
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
            </div>
            <div>
                <button type="submit" [disabled]="!monModelForm.valid || isSubmitted" nbButton status="danger" style="border-radius: 20px; border-style: none; display: block; margin-left: auto;margin-right: auto; background-color: #E34234; color:
                    white;">
                    Modifier
                </button>
            </div>
            <br />
        </form>
    </nb-card-body>
</nb-card>