<h1>QR code de la carte à tampons</h1>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="commentaire" class="label">Commentaire</label>
            <textarea type="text" rows="5" nbInput fullWidth id="description" [(ngModel)]="description" name="description" placeholder="Commentaire"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-auto mr-auto"></div>
    <div class="col-auto">
        <button type="submit" nbButton (click)="activerScan(!isActiverScan)" style="border-radius:  5px; border-style: none; background-color: #E34234; color:
                                                      white;">{{ libelleActionScan }}</button>
    </div>
</div>
<br />
<br />
<div *ngIf="isActiverScan && !isScannerOk" class="row">
    <div class="col-md-12">
        <zxing-scanner #scanner [enable]="scannerEnabled" [(device)]="desiredDevice" [torch]="torch" (torchCompatible)="onTorchCompatible($event)" (camerasFound)="camerasFoundHandler($event)" (camerasNotFound)="camerasNotFoundHandler($event)" (scanSuccess)="scanSuccessHandler($event)"
            (scanError)="scanErrorHandler($event)" (scanFailure)="scanFailureHandler($event)" (scanComplete)="scanCompleteHandler($event)"></zxing-scanner>

    </div>
</div>
<div *ngIf="isScannerOk" class="row">
    <h2 style="color: green;">{{ messageAttenteApresScan }}</h2>
</div>