<div class="row">
    <div class="col-md-6 m-20" style="margin: auto; margin-bottom: 30px ;">
        <img src="assets/images/logo_fond_bleu.png" width="200" height="80" alt="logo" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
</div>
<div class="row">
    <div class="col-md-6" style="margin: auto;">


        <nb-card style="border-radius: 50px;">
            <nb-card-header style=" text-align: center; font-weight: bold;">MOT DE PASSE OUBLIER</nb-card-header>
            <nb-card-body>
                <form (ngSubmit)="submit(monModelForm)" #monModelForm="ngForm">
                    <div class="form-group">
                        <label for="email" class="label">Email <span style="color: red;">*</span></label>
                        <input type="email" nbInput fullWidth id="email" name="email" placeholder="Email" ngModel #email="ngModel" required pattern=".+@.+\..+" [status]="email.dirty? (email.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="email.invalid && email.touched">
                            <p class="caption status-danger" *ngIf="email.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="email.errors?.pattern">
                                Exemple de saisie: exemple@gmail.com
                            </p>
                        </ng-container>
                    </div>

                    <div>
                        <button type="submit" [disabled]="!monModelForm.valid || isSubmitted" nbButton status="danger" style="border-radius: 20px; border-style: none;  display: block; margin-left: auto;margin-right: auto; background-color: #E34234; color: white;">
                            Envoyer</button>
                    </div>
                    <br />

                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>