<nb-card>
    <!-- <nb-card-header style="text-align: center; font-weight: bold;">Mes clients</nb-card-header> -->
    <nb-card-body>
        <div class="row">
            <div class="col-md-12">

                <div class="row mb-4">
                    <div class="col-md-12">
                        <h1 style="margin-top: 0px; margin-bottom: 0px;">Liste de mes clients
                        </h1>
                    </div>
                    <!-- <div class="col col-auto">
                        <button type="button" (click)="getUserEnDelit()" nbButton>Utilisateurs en délit</button>
                    </div> -->
                    <br>
                </div>
                <table class="table table-responsive-md table-hover" id="example">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <!-- <th scope="col">Nombre de programme à points</th>
                            <th scope="col">Nombre de programme à tampons</th> -->

                            <th scope="col">Téléphone</th>
                            <th scope="col">Matricule</th>
                            <th scope="col">Numéro carte</th>
                            <!-- <th scope="col">Nombre gerant</th> -->
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="datasUser && datasUser.length > 0">
                        <ng-container *ngFor="let data of datasUser">
                            <tr>
                                <td>{{data.userNom ? data.userNom + " "+ data.userPrenoms : data.userLogin}}</td>
                                <td>
                                    {{data.userTelephone}}
                                </td>
                                <td>
                                    {{data.userMatricule}}
                                </td>
                                <td>
                                    {{data.code}}
                                </td>
                                <!-- <td>
                                    {{data.nbreProgrammeFideliteCarte}}
                                </td>
                                <td>
                                    {{data.nbreProgrammeFideliteTampon}}
                                </td> -->
                                <td>
                                    <!-- <nb-icon class="m-1" (click)="scannerManuellemnt(data)" icon="flash-outline" pack="eva">
                                    </nb-icon> -->
                                    <nb-icon class="m-1" (click)="voirUser(data)" icon="eye-outline" pack="eva">
                                    </nb-icon>


                                    <!--
                                                    <button type="button"(click)="voirAppelDoffres(data)">
                                  <nb-icon icon="eye-outline"pack="eva"></nb-icon>
                                </button>
                                <button type="button"(click)="voirAppelDoffres(data)">
                                  <nb-icon icon="edit-2-outline"pack="eva"></nb-icon>
                                </button>
                                <button type="button"(click)="voirAppelDoffres(data)">
                                  <nb-icon icon="trash-outline"pack="eva"></nb-icon>
                                </button>
                                -->
                                </td>
                            </tr>

                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </nb-card-body>
</nb-card>