<nb-card class="custom-border-card">
    <nb-card-header style="text-align: center; font-weight: bold;">Scanner manuellement la carte de {{ getNameUser }}
    </nb-card-header>

    <nb-card-body>


        <div class="row">
            <div class="col-md-6">
                <ng-container *ngIf="carte && carte.datasSouscriptionProgrammeFideliteCarte && carte.datasSouscriptionProgrammeFideliteCarte.length > 0; else elseBlockPDFCarte">
                    <nb-radio-group (valueChange)="changeSouscriptionPDFValue($event)" name="isDispoInAllPdv">
                        <nb-radio *ngFor="let option of carte.datasSouscriptionProgrammeFideliteCarte" [disabled]="option.isDisabled" [value]="option">
                            {{ option.programmeFideliteCarteLibelle}}</nb-radio>
                    </nb-radio-group>
                </ng-container>
                <ng-template #elseBlockPDFCarte> Aucun souscription aux programmes à points pour cet utilisateur</ng-template>
            </div>
            <div class="col-md-6">
                <ng-container *ngIf="carte && carte.datasSouscriptionProgrammeFideliteTampon && carte.datasSouscriptionProgrammeFideliteTampon.length > 0; else elseBlockPDFCarte">
                    <nb-radio-group (valueChange)="changeSouscriptionPDFValue($event)" name="isDispoInAllPdv">
                        <nb-radio *ngFor="let option of carte.datasSouscriptionProgrammeFideliteTampon" [disabled]="option.isDisabled" [value]="option">
                            {{ option.programmeFideliteTamponLibelle}}</nb-radio>
                    </nb-radio-group>
                </ng-container>
                <ng-template #elseBlockPDFCarte> Aucune souscription aux programmes à tampons pour cet utilisateur</ng-template>
            </div>
        </div>
    </nb-card-body>
</nb-card>
