nb-card-body {
    display: flex;
    justify-content: space-between;
    input {
        width: 100%;
    }
}

.echart,
chart {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;
     ::ng-deep chart {
        display: block;
        height: 100%;
        width: 100%;
    }
}
