<div class="row">
    <div class="col-md-6 m-20" style="margin: auto; margin-bottom: 30px ;">
        <img src="assets/images/logo_fond_bleu.png" width="200" height="80" alt="logo" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
</div>
<div class="row">
    <div class="col-md-6" style="margin: auto;">


        <nb-card style="border-radius: 50px;">
            <nb-card-header style=" text-align: center; font-weight: bold;">INSCRIPTION UTILISATEUR</nb-card-header>
            <nb-card-body>
                <form (ngSubmit)="submit(monModelForm)" #monModelForm="ngForm">

                    <!-- <div class="form-group">
                        <label for="enseigne" class="label">Enseigne <span style="color: red;">*</span></label>
                        <nb-select name="enseigne" fullWidth placeholder="enseigne" ngModel #enseigne="ngModel" required [status]="enseigne.dirty? (enseigne.invalid ? 'danger' : 'success') : ''">
                            <nb-option value="1">Enseigne 1</nb-option>
                            <nb-option value="2">Enseigne 2</nb-option>
                            <nb-option value="3">Enseigne 3</nb-option>
                            <nb-option value="4">Enseigne 4</nb-option>
                        </nb-select>
                        <ng-container *ngIf="enseigne.invalid && enseigne.touched">
                            <p class="caption status-danger" *ngIf="enseigne.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div> -->

                    <ng-container *ngIf="datasEnseigne">
                        <div class="form-group">
                            <label for="enseigne" class="label">Enseigne <span style="color: red;">*</span></label>
                            <nb-select name="enseigneId" fullWidth placeholder="enseigne" ngModel #enseigne="ngModel" required [status]="enseigne.dirty? (enseigne.invalid ? 'danger' : 'success') : ''">
                                <nb-option *ngFor="let data of datasEnseigne" [value]="data.id">
                                    {{data.nom}}</nb-option>
                            </nb-select>
                            <ng-container *ngIf="enseigne.invalid && enseigne.touched">
                                <p class="caption status-danger" *ngIf="enseigne.errors?.required">
                                    Champ requis!
                                </p>
                            </ng-container>
                        </div>
                    </ng-container>
                    <div class="form-group">
                        <label for="nom" class="label">Nom <span style="color: red;">*</span></label>
                        <input type="text" name="nom" nbInput fullWidth id="nom" placeholder="Nom" ngModel #nom="ngModel" required [status]="nom.dirty? (nom.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="nom.invalid && nom.touched">
                            <p class="caption status-danger" *ngIf="nom.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>
                    <div class="form-group">
                        <label for="prenoms" class="label">Prenoms</label>
                        <input type="text" name="prenoms" nbInput fullWidth ngModel id="prenoms" placeholder="Prenoms">
                    </div>
                    <div class="form-group">
                        <label for="email" class="label">Email <span style="color: red;">*</span></label>
                        <input type="email" nbInput fullWidth id="email" name="email" placeholder="Email" ngModel #email="ngModel" required pattern=".+@.+\..+" [status]="email.dirty? (email.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="email.invalid && email.touched">
                            <p class="caption status-danger" *ngIf="email.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="email.errors?.pattern">
                                Exemple de saisie: exemple@gmail.com
                            </p>
                        </ng-container>
                    </div>
                    <div class="form-group">
                        <label for="telephone" class="label">Téléphone</label>
                        <input type="tel" nbInput fullWidth id="telephone" ngModel name="telephone" placeholder="Téléphone">
                    </div>

                    <div class="form-group">
                        <label for="login" class="label">Identifiant <span style="color: red;">*</span></label>
                        <input type="text" nbInput fullWidth id="login" name="login" placeholder="Identifiant" ngModel #login="ngModel" required [status]="login.dirty? (login.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="login.invalid && login.touched">
                            <p class="caption status-danger" *ngIf="login.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>
                    <div class="form-group">
                        <label for="password" class="label">Mot de passe <span style="color: red;">*</span></label>
                        <input type="password" nbInput fullWidth id="password" name="password" placeholder="Mot de passe" ngModel #password="ngModel" required [status]="password.dirty? (password.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="password.invalid && password.touched">
                            <p class="caption status-danger" *ngIf="password.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                                Le mot de passe doit contenir au moins 4 caractères
                            </p>
                        </ng-container>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword" class="label">Confirmer Mot de passe <span
                                style="color: red;">*</span></label>
                        <input type="password" nbInput fullWidth id="confirmPassword" name="confirmPassword" placeholder="Confirmer Mot de passe" ngModel #confirmPassword="ngModel" required [status]="confirmPassword.touched
               ? (confirmPassword.invalid || password.value != confirmPassword.value ? 'danger' : 'success')
               : ''">
                        <ng-container *ngIf="confirmPassword.touched">
                            <p class="caption status-danger" *ngIf="confirmPassword.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="confirmPassword.errors?.minlength || confirmPassword.errors?.maxlength">
                                Le mot de passe doit contenir au moins 4 caractères
                            </p>
                            <p class="caption status-danger" *ngIf="password.value != confirmNewPassword.value && !confirmPassword.errors?.required">
                                La confirmation ne correspond pas au mot de passe.
                            </p>
                        </ng-container>
                    </div>



                    <ng-container *ngIf="datasRole">
                        <div class="form-group">
                            <label for="role" class="label">Fonction utilisateur <span
                                    style="color: red;">*</span></label>
                            <nb-select name="roleId" fullWidth placeholder="Fonction utilisateur" ngModel #role="ngModel" required [status]="role.dirty? (role.invalid ? 'danger' : 'success') : ''">
                                <nb-option *ngFor="let data of datasRole" [value]="data.id">
                                    {{data.libelle}}</nb-option>
                            </nb-select>
                            <ng-container *ngIf="role.invalid && role.touched">
                                <p class="caption status-danger" *ngIf="role.errors?.required">
                                    Champ requis!
                                </p>
                            </ng-container>
                        </div>
                    </ng-container>

                    <div>
                        <button type="submit" [disabled]="!monModelForm.valid || isSubmitted" nbButton status="danger" style="border-radius: 20px; border-style: none;  display: block; margin-left: auto;margin-right: auto; background-color: #E34234; color: white;">
                            S'inscrire
                        </button>
                    </div>
                    <br />
                </form>
            </nb-card-body>
        </nb-card>


    </div>
</div>