<nb-card class="custom-border-card">
    <nb-card-header style="text-align: center; font-weight: bold;">EDITER POINT DE VENTE ENSEIGNE
    </nb-card-header>
    <nb-card-body>
        <form (ngSubmit)="submit(monModelForm)" #monModelForm="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nom" class="label">Nom <span style="color: red;">*</span></label>
                        <input type="text" name="nom" nbInput fullWidth id="nom" placeholder="Nom" [(ngModel)]="model.nom" #nom="ngModel" required [status]="nom.touched? (nom.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="nom.invalid && nom.touched">
                            <p class="caption status-danger" *ngIf="nom.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputCommune" class="label">Commune:</label>
                        <nb-select [(ngModel)]="model.communeId" name="communeId" nbSelect fullWidth>
                            <nb-option selected="model.communeId" *ngFor="let commune of datasCommune" [value]="commune.id">
                                {{commune.libelle}}</nb-option>
                        </nb-select>
                        <!-- <ng-container *ngIf="communeId.invalid && communeId.touched">
                            <p class="caption status-danger" *ngIf="communeId.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container> -->
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <div class="form-group">
                        <label for="nbreTampon" class="label">Nombre de tampon <span
                                style="color: red;">*</span></label>
                        <input type="number" min="0" name="nbreTampon" nbInput fullWidth id="nbreTampon" placeholder="Nombre de tampon" [(ngModel)]="model.nbreTampon" #nbreTampon="ngModel" required [status]="nbreTampon.touched? (nbreTampon.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="nbreTampon.invalid && nbreTampon.touched">
                            <p class="caption status-danger" *ngIf="nbreTampon.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>
                </div> -->
            </div>

            <div class="row">
                <!-- <div class="col-md-6">
                    <div class="form-group">
                        <label for="isAllTamponDipso" class="label">Pour tous les PDF Tampon <span
                                style="color: red;">*</span></label>
                        <nb-radio-group (valueChange)="changeIsAllTamponDipsoValue($event)" name="isAllTamponDipso">
                            <nb-radio *ngFor="let option of optionsRadioTampon" [checked]="option.checked" [value]="option.value">
                                {{ option.label}}</nb-radio>
                        </nb-radio-group>
                    </div>
                </div> -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="isAllCarteDipso" class="label">Pour tous les programme à points <span
                style="color: red;">*</span></label>
                        <nb-radio-group (valueChange)="changeIsAllCarteDipsoValue($event)" name="isAllCarteDipso">
                            <nb-radio value="true" [checked]="radioCarte">
                                Oui
                            </nb-radio>
                            <nb-radio value="false" [checked]="!radioCarte">
                                Non
                            </nb-radio>
                        </nb-radio-group>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nbrePallier" class="label">Pour tous les programme à tampons <span
                style="color: red;">*</span></label>
                        <nb-radio-group (valueChange)="changeIsAllTamponDipsoValue($event)" name="isAllTamponDipso">
                            <nb-radio value="true" [checked]="radioTampon">
                                Oui
                            </nb-radio>
                            <nb-radio value="false" [checked]="!radioTampon">
                                Non
                            </nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
            </div>


            <ng-container *ngIf="model.isAllTamponDipso && model.isAllTamponDipso == 'false'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <!-- <label for="programmeFideliteTampons" class="label">Choisir les programmes de fidelite
                                tampon <span style="color: red;">*</span></label> -->
                            <label for="programmeFideliteTampons" class="label">Choisir les programmes à
                tampons <span style="color: red;">*</span></label>

                            <!-- <nb-select name="secteurActivites" [(selected)]="datasSecteurActiviteSelected" ngModel #listSecteurActivites="ngModel" fullWidth multiple placeholder="Secteurs d
                            'activités" [status]="listSecteurActivites.dirty ? ( datasSecteurActiviteSelected != null && datasSecteurActiviteSelected.length > 0 && listSecteurActivites.invalid ? 'success ' : 'danger ') :'
                            '"> -->
                            <!-- <nb-select name="programmeFideliteTampons" [(selected)]="datasProgrammeFideliteTamponSelected" ngModel #listProgrammeFideliteTampon="ngModel" fullWidth multiple placeholder="Choisir les programmes de fidelite tampon"> -->
                            <nb-select name="programmeFideliteTampons" [(selected)]="datasProgrammeFideliteTamponSelected" ngModel #listProgrammeFideliteTampon="ngModel" fullWidth multiple placeholder="Choisir les programmes à tampons">
                                <nb-option *ngFor=" let data of datasProgrammeFideliteTampon" [value]="data">
                                    {{data.libelle}}</nb-option>
                            </nb-select>
                            <!-- <ng-container *ngIf="datasSecteurActiviteSelected !=n ull && listSecteurActivites.invalid && listSecteurActivites.touched">
                                                                <p class="caption status-danger" *ngIf="listSecteurActivites.errors?.required">
                                                                    Champ requis!
                                                                </p>
                                                            </ng-container> -->
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="model.isAllCarteDipso && model.isAllCarteDipso == 'false'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <!-- <label for="programmeFideliteCartes" class="label">Choisir les programmes de fidelite carte
                                <span style="color: red;">*</span></label> -->
                            <label for="programmeFideliteCartes" class="label">Choisir les programmes à points
                <span style="color: red;">*</span></label>

                            <!-- <nb-select name="secteurActivites" [(selected)]="datasSecteurActiviteSelected" ngModel #listSecteurActivites="ngModel" fullWidth multiple placeholder="Secteurs d
                                        'activités" [status]="listSecteurActivites.dirty ? ( datasSecteurActiviteSelected != null && datasSecteurActiviteSelected.length > 0 && listSecteurActivites.invalid ? 'success ' : 'danger ') :'
                                        '"> -->
                            <!-- <nb-select name="programmeFideliteCartes" [(selected)]="datasProgrammeFideliteCarteSelected" ngModel #listProgrammeFideliteCarte="ngModel" fullWidth multiple placeholder="Choisir les programmes de fidelite carte"> -->
                            <nb-select name="programmeFideliteCartes" [(selected)]="datasProgrammeFideliteCarteSelected" ngModel #listProgrammeFideliteCarte="ngModel" fullWidth multiple placeholder="Choisir les programmes à points">
                                <nb-option *ngFor=" let data of datasProgrammeFideliteCarte" [value]="data">
                                    {{data.libelle}}</nb-option>
                            </nb-select>
                            <!-- <ng-container *ngIf="datasSecteurActiviteSelected !=n ull && listSecteurActivites.invalid && listSecteurActivites.touched">
                                                                            <p class="caption status-danger" *ngIf="listSecteurActivites.errors?.required">
                                                                                Champ requis!
                                                                            </p>
                                                                        </ng-container> -->
                        </div>
                    </div>
                </div>
            </ng-container>



            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description" class="label">Description</label>
                        <textarea type="text" rows="5" nbInput fullWidth id="description" [(ngModel)]="model.description" name="description" placeholder="Description"></textarea>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="latitude" class="label">Latitude position GPS</label>
                        <input type="number" (keyup)="onKeyLatitude($event)" step="0.01" name="latitude" nbInput fullWidth id="nom" placeholder="Latitude position GPS" [(ngModel)]="dataGpsPointDeVente.latitude">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="longititude" class="label">Longititude position GPS</label>
                        <input type="number" (keyup)="onKeyLongititude($event)" step="0.01" name="longititude" nbInput fullWidth id="longititude" placeholder="Longititude position GPS" [(ngModel)]="dataGpsPointDeVente.longititude">
                        <!-- <input type="number" (keyup)="onKeyLongititude($event)" (change)="updateLocation()" step="0.01" name="longititude" nbInput fullWidth id="longititude" placeholder="Longititude position GPS" [(ngModel)]="dataGpsPointDeVente.longititude"> -->

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 20px;">
                    <ngx-map [searchedLocation]="searchedLocation"></ngx-map>
                </div>

            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ajouterUtilisateur" class="label">
              <h3>Ajouter l'utilisateur du point de vente</h3>
            </label>
                        <!-- <nb-radio-group (valueChange)="changeValueRadioAjouterUser($event)" name="ajouterUtilisateur">
                            <nb-radio value="true" [checked]="radioAjouterUser">
                                Oui
                            </nb-radio>
                            <nb-radio value="false" [checked]="!radioAjouterUser">
                                Non
                            </nb-radio>
                        </nb-radio-group> -->
                    </div>
                </div>
            </div>

            <ng-container *ngIf="radioAjouterUser && radioAjouterUser=='true'">
                <div class="row">
                    <div class="col-md-12" style="font-weight: bold; padding: 15px;">
                        UTILISATEUR POINT DE VENTE
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nomUser" class="label">Nom <span style="color: red;">*</span></label>
                            <input type="text" name="nomUser" nbInput fullWidth id="nomUser" placeholder="Nom" [(ngModel)]="dataUserEnseigne.nom" #nomUser="ngModel" required [status]="nomUser.touched? (nomUser.invalid ? 'danger' : 'success') : ''">
                            <ng-container *ngIf="nomUser.invalid && nomUser.touched">
                                <p class="caption status-danger" *ngIf="nomUser.errors?.required">
                                    Champ requis!
                                </p>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="prenoms" class="label">Prenoms</label>
                            <input type="text" name="prenoms" nbInput fullWidth [(ngModel)]="dataUserEnseigne.prenoms" id="prenoms" placeholder="Prenoms">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email" class="label">Email <span style="color: red;">*</span></label>
                            <input type="email" nbInput fullWidth id="email" name="email" placeholder="Email" [(ngModel)]="dataUserEnseigne.email" #email="ngModel" required pattern=".+@.+\..+" [status]="email.touched? (email.invalid ? 'danger'
                                : 'success') : ''">
                            <ng-container *ngIf="email.invalid && email.touched">
                                <p class="caption status-danger" *ngIf="email.errors?.required">
                                    Champ requis!
                                </p>
                                <p class="caption status-danger" *ngIf="email.errors?.pattern">
                                    Exemple de saisie: exemple@gmail.com
                                </p>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="telephone" class="label">Téléphone</label>
                            <input type="tel" nbInput fullWidth id="telephone" [(ngModel)]="dataUserEnseigne.telephone" name="telephone" placeholder="Téléphone">
                        </div>
                    </div>
                </div>

                <!-- <ng-container *ngIf="datasRole">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="roleGerant" class="label">Fonction <span
                                        style="color: red;">*</span></label>
                                <nb-select name="roleGerantId" fullWidth placeholder="Fonction" [(ngModel)]="dataUserEnseigne.roleId" #role="ngModel" required [status]="role.touched? (role.invalid ? 'danger' : 'success') : ''">

                                    <nb-option *ngFor="let data of datasRole" [value]="data.id">
                                        {{data.libelle}}</nb-option>
                                </nb-select>
                                <ng-container *ngIf="role.invalid && role.touched">
                                    <p class="caption status-danger" *ngIf="role.errors?.required">
                                        Champ requis!
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </ng-container> -->
            </ng-container>





            <div>
                <button type="submit" [disabled]="!monModelForm.valid || isSubmitted" nbButton status="danger" style="border-radius: 20px; border-style: none; display: block; margin-left: auto;margin-right: auto; background-color: #E34234; color:
                                white;">
          {{ actionSubmit }}
        </button>
            </div>

        </form>

    </nb-card-body>
</nb-card>


<!-- <form>
                <div class="row">
                    <div class="col-md-12" style="font-weight: bold; padding: 15px;">
                        UTILISATEUR POINT DE VENTE
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="typeRegleSecuriteTamponId" class="label">Type règle <span style="color: red;">*</span></label>
                            <nb-select name="typeRegleSecuriteTamponId" fullWidth placeholder="Type règle" [(ngModel)]="modelInformationRegleSecuriteTampon.typeRegleSecuriteTamponId" #typeRegleSecuriteTamponId="ngModel" required [status]="typeRegleSecuriteTamponId.touched?
                                (typeRegleSecuriteTamponId.invalid ? 'danger ' : 'success ') : ''">
                                <nb-option *ngFor="let data of datasRegleSecurite" [value]="data.id">
                                    {{data.libelle}}</nb-option>
                            </nb-select>
                            <ng-container *ngIf="typeRegleSecuriteTamponId.invalid && typeRegleSecuriteTamponId.touched">
                                <p class="caption status-danger" *ngIf="typeRegleSecuriteTamponId.errors?.required">
                                    Champ requis!
                                </p>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="uniteTempsId" class="label">Unite de temps <span style="color: red;">*</span></label>
                            <nb-select name="uniteTempsId" fullWidth placeholder="Unite de temps" [(ngModel)]="modelInformationRegleSecuriteTampon.uniteTempsId" #uniteTemps="ngModel" required [status]="uniteTemps.touched && uniteTemps.touched? (uniteTemps.invalid
                                ? 'danger ' : 'success ') : ''">
                                <nb-option *ngFor="let data of datasUniteTemps" [value]="data.id">
                                    {{data.libelle}}</nb-option>
                            </nb-select>

            <ng-container *ngIf="uniteTemps.invalid && uniteTemps.touched">
                <p class="caption status-danger" *ngIf="uniteTemps.errors?.required">
                    Champ requis!
                </p>
            </ng-container>
            </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nbreMaxiParPdv" class="label">Nombre maxi de flash par PDV <span
                  style="color: red;">*</span></label>
                        <input type="number" min="0" name="nbreMaxiParPdv" nbInput fullWidth id="nbreMaxiParPdv" placeholder="Nombre maxi de flash par PDV" [(ngModel)]="modelInformationRegleSecuriteTampon.nbreMaxiParPdv" #nbreMaxiParPdv="ngModel
                               " required [status]="nbreMaxiParPdv.touched? (nbreMaxiParPdv.invalid ? 'danger ' : 'success ') : ''">
                        <ng-container *ngIf="nbreMaxiParPdv.invalid && nbreMaxiParPdv.touched">
                            <p class="caption status-danger" *ngIf="nbreMaxiParPdv.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nbreMaxiAllPdv" class="label">Nombre maxi de flash pour tous les
                PDV</label>
                        <input type="number" min="0" name="valeurMaxGain" nbInput fullWidth id="nbreMaxiAllPdv" placeholder="Nombre maxi de flash pour tous les PDV" [(ngModel)]="modelInformationRegleSecuriteTampon.nbreMaxiAllPdv">

            </div>
            </div>
            </div>


            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
            </div>

            <br />
            <div>
                <button type="button" (click)="addInformationRegleSecurite()" [disabled]="disableAjouter || !etatAjouterInfosRegles" nbButton status="danger" style="border-radius: 20px; border-style: none; display: block; margin-left: auto;margin-right:
                                auto; background-color: #E34234; color: white;">
            Ajouter
          </button>
            </div>
            <br />



            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive-md">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Règle</th>
                                    <th scope="col">Temps</th>
                                    <th scope="col">Max par PDV</th>
                                    <th scope="col">Max pour tous les PDV</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <ng-container *ngIf="datasInformationRegleSecuriteTampon">
                                <tbody>
                                    <tr *ngFor=" let data of datasInformationRegleSecuriteTampon">
                                        <th>{{ data.typeRegleSecuriteTamponLibelle}}</th>
                                        <td>{{ data.uniteTempsLibelle}}</td>
                                        <td>{{ data.nbreMaxiParPdv}}</td>
                                        <td>{{ data.nbreMaxiAllPdv}}</td>
                                        <td>
                                            <nb-icon class="m-1" (click)="modifierInformationRegleSecurite(data)" icon="edit-2-outline" pack="eva">
                                            </nb-icon>
                                            <nb-icon class="m-1" (click)="supprimerInformationRegleSecurite(data)" icon="trash-2-outline" pack="eva">
                                            </nb-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </ng-container>

                        </table>
                    </div>
                </div>
            </div>


            <br />
            <br />

        </form>
        -->