<nb-card class="custom-border-card">
    <nb-card-header style="text-align: center; font-weight: bold;">EDITER UN PROGRAMME A CARTES
    </nb-card-header>
    <!-- <nb-card-header style="text-align: center; font-weight: bold;">EDITER PROGRAMME DE FIDELITE CARTE ENSEIGNE
    </nb-card-header> -->
    <nb-card-body>
        <form (ngSubmit)="submit(monModelForm)" #monModelForm="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="libelle" class="label">Nom du programme <span style="color: red;">*</span></label>
                        <input type="text" name="libelle" nbInput fullWidth id="libelle" placeholder="Nom du programme" [(ngModel)]="model.libelle" #libelle="ngModel" required [status]="libelle.touched? (libelle.invalid ?'danger' :'success') :''">
                        <ng-container *ngIf="libelle.invalid && libelle.touched">
                            <p class="caption status-danger" *ngIf="libelle.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pourXAcheter" class="label">Pour x valeur achetés <span style="color: red;">*</span></label>
                        <input type="number" min="0" pattern="^[0-9]*" name="pourXAcheter" nbInput fullWidth id="pourXAcheter" placeholder="Pour x valeur achetés" [(ngModel)]="model.pourXAcheter" #pourXAcheter="ngModel" required [status]="pourXAcheter.touched? (pourXAcheter.invalid ?'danger' :'success') :''">
                        <ng-container *ngIf="pourXAcheter.invalid && pourXAcheter.touched">
                            <p class="caption status-danger" *ngIf="pourXAcheter.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="pourXAcheter.errors?.pattern">
                                Exemple de saisie : une valeur entière
                            </p>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nbrePointObtenu" class="label">Nombre de point obtenu <span style="color: red;">*</span></label>
                        <input type="number" min="0" pattern="^[0-9]*" name="nbrePointObtenu" nbInput fullWidth id="nbrePointObtenu" placeholder="Nombre de point obtenu" [(ngModel)]="model.nbrePointObtenu" #nbrePointObtenu="ngModel" required [status]="nbrePointObtenu.touched? (nbrePointObtenu.invalid ?'danger' :'success') :''">
                        <ng-container *ngIf="nbrePointObtenu.invalid && nbrePointObtenu.touched">
                            <p class="caption status-danger" *ngIf="nbrePointObtenu.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="nbrePointObtenu.errors?.pattern">
                                Exemple de saisie : une valeur entière
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="correspondanceNbrePoint" class="label">La correspondance du nombre de point obtenu
              en FCFA
              <span style="color: red;">*</span></label>
                        <input type="number" min="0" pattern="^[0-9]*" name="correspondanceNbrePoint" nbInput fullWidth id="correspondanceNbrePoint" placeholder="La correspondance du nombre de point obtenu en FCFA" [(ngModel)]="model.correspondanceNbrePoint" #correspondanceNbrePoint="ngModel"
                            required [status]="correspondanceNbrePoint.touched? (correspondanceNbrePoint.invalid ?'danger' :'success') :''">
                        <ng-container *ngIf="correspondanceNbrePoint.invalid && correspondanceNbrePoint.touched">
                            <p class="caption status-danger" *ngIf="correspondanceNbrePoint.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="correspondanceNbrePoint.errors?.pattern">
                                Exemple de saisie : une valeur entière
                            </p>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pointObtenuParParrain" class="label">Nombre de point obtenu par le parrain <span
                style="color: red;">*</span></label>
                        <input type="number" min="0" pattern="^[0-9]*" name="pointObtenuParParrain" nbInput fullWidth id="pointObtenuParParrain" placeholder="Nombre de point obtenu par le parrain" [(ngModel)]="model.pointObtenuParParrain" #pointObtenuParParrain="ngModel" required
                            [status]="pointObtenuParParrain.touched? (pointObtenuParParrain.invalid ?'danger' :'success') :''">
                        <ng-container *ngIf="pointObtenuParParrain.invalid && pointObtenuParParrain.touched">
                            <p class="caption status-danger" *ngIf="pointObtenuParParrain.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="pointObtenuParParrain.errors?.pattern">
                                Exemple de saisie : une valeur entière
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pointObtenuParFilleul" class="label">Nombre de point obtenu par le filleul
              <span style="color: red;">*</span></label>
                        <input type="number" min="0" pattern="^[0-9]*" name="pointObtenuParFilleul" nbInput fullWidth id="pointObtenuParFilleul" placeholder="Nombre de point obtenu par le filleul" [(ngModel)]="model.pointObtenuParFilleul" #pointObtenuParFilleul="ngModel" required
                            [status]="pointObtenuParFilleul.touched? (pointObtenuParFilleul.invalid ?'danger' :'success') :''">
                        <ng-container *ngIf="pointObtenuParFilleul.invalid && pointObtenuParFilleul.touched">
                            <p class="caption status-danger" *ngIf="pointObtenuParFilleul.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="pointObtenuParFilleul.errors?.pattern">
                                Exemple de saisie : une valeur entière
                            </p>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pointObtenuApresSouscription" class="label">Nombre de point obtenu apres
              souscription</label>
                        <input type="number" min="0" pattern="^[0-9]*" name="pointObtenuApresSouscription" nbInput #pointObtenuApresSouscription="ngModel" fullWidth id="pointObtenuApresSouscription" placeholder="Nombre de point obtenu apres souscription" [(ngModel)]="model.pointObtenuApresSouscription">
                        <!-- <ng-container *ngIf="valeurMaxGain.invalid && valeurMaxGain.touched">
                                                                                    <p class="caption status-danger" *ngIf="valeurMaxGain.errors?.required">
                                                                                        Champ requis!
                                                                                    </p>
                                                                                </ng-container> -->
                        <ng-container *ngIf="pointObtenuApresSouscription.invalid && pointObtenuApresSouscription.touched">
                            <p class="caption status-danger" *ngIf="pointObtenuApresSouscription.errors?.pattern">
                                Merci de saisir une valeur entière
                            </p>
                        </ng-container>
                    </div>
                </div>

                <div class="form-group">
                    <ng-container *ngIf="model.urlCarte != null && notChangeLogo ; else elseFileBlock">
                        <!-- <label for="inputFichier" class="label">Changer de logo:</label> -->
                        <button type="button" nbButton status="primary" (click)="changerLogo()"> Changer de
              logo</button>
                    </ng-container>
                    <ng-template #elseFileBlock>
                        <label for="inputFichier" class="label">Choisir Logo:</label>
                        <input type="file" nbInput fullWidth id="inputFichier" name="urlLogo" placeholder="logo" (change)="isSelectFileEntreprise($event)">
                    </ng-template>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="nbrePallier" class="label">Disponible dans tous les PDV <span
                style="color: red;">*</span></label>
                        <nb-radio-group (valueChange)="changeIsDispoInAllPdvValue($event)" name="isDispoInAllPdv">
                            <nb-radio *ngFor="let option of optionsRadio" [checked]="option.checked" [value]="option.value">
                                {{ option.label}}</nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
            </div>


            <ng-container *ngIf="model.isDispoInAllPdv && model.isDispoInAllPdv =='false'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="pointDeVentes" class="label">Point de vente <span style="color: red;">*</span></label>

                            <!-- <nb-select name="secteurActivites" [(selected)]="datasSecteurActiviteSelected" ngModel #listSecteurActivites="ngModel" fullWidth multiple placeholder="Secteurs d
                           'activités" [status]="listSecteurActivites.dirty ? ( datasSecteurActiviteSelected != null && datasSecteurActiviteSelected.length > 0 && listSecteurActivites.invalid ?'success' :'danger') :'
                           '"> -->
                            <nb-select name="pointDeVentes" [(selected)]="datasPointDeVenteSelected" ngModel #listPointDeVente="ngModel" fullWidth multiple placeholder="Point de vente">
                                <nb-option *ngFor=" let data of datasPointDeVente" [value]="data">
                                    {{data.nom}}</nb-option>
                            </nb-select>
                            <!-- <ng-container *ngIf="datasSecteurActiviteSelected !=n ull && listSecteurActivites.invalid && listSecteurActivites.touched">
                                                                <p class="caption status-danger" *ngIf="listSecteurActivites.errors?.required">
                                                                    Champ requis!
                                                                </p>
                                                            </ng-container> -->
                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description" class="label">Description</label>
                        <textarea type="text" rows="5" nbInput fullWidth id="description" [(ngModel)]="model.description" name="description" placeholder="Description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="conditionsDutilisation" class="label">Conditions d'utilisation</label>
                        <ckeditor [(ngModel)]="model.conditionsDutilisation" name="valueCkeditor" (change)="onChange($event)" [config]="{ extraPlugins: 'divarea', height: '320' }">
                        </ckeditor>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">


                </div>

            </div>
            <form>
                <div class="row">
                    <div class="col-md-12" style="font-weight: bold; padding: 15px;">
                        LES REGLES DE SECURITE
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col-md-6">
                        <div class="form-group">
                            <label for="typeRegleSecuriteCarteId" class="label">Type règle <span style="color: red;">*</span></label>
                            <nb-select name="typeRegleSecuriteCarteId" fullWidth placeholder="Type règle" [(ngModel)]="modelInformationRegleSecuriteCarte.typeRegleSecuriteCarteId" #typeRegleSecuriteCarteId="ngModel" required [status]="typeRegleSecuriteCarteId.touched? (typeRegleSecuriteCarteId.invalid ?'danger' :'success') :''">
                                <nb-option *ngFor="let data of datasTypeRegleSecuriteCarte" [value]="data.id">
                                    {{data.libelle}}</nb-option>
                            </nb-select>
                            <ng-container *ngIf="typeRegleSecuriteCarteId.invalid && typeRegleSecuriteCarteId.touched">
                                <p class="caption status-danger" *ngIf="typeRegleSecuriteCarteId.errors?.required">
                                    Champ requis!
                                </p>
                            </ng-container>
                        </div>
                    </div> -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="uniteTempsId" class="label">Unite de temps <span style="color: red;">*</span></label>
                            <nb-select name="uniteTempsId" fullWidth placeholder="Unite de temps" [(ngModel)]="modelInformationRegleSecuriteCarte.uniteTempsId" #uniteTemps="ngModel" required [status]="uniteTemps.touched && uniteTemps.touched? (uniteTemps.invalid ?'danger' :'success') :''">
                                <nb-option *ngFor="let data of datasUniteTemps" [value]="data.id">
                                    {{data.libelle}}</nb-option>
                            </nb-select>
                            <!-- <nb-select name="uniteTempsId" fullWidth placeholder="Fonction" [(ngModel)]="modelInformationRegleSecuriteCarte.uniteTemps" (click)="changeData()" #uniteTemps="ngModel" required [status]="uniteTemps.touched && uniteTemps.touched? (uniteTemps.invalid ?'danger' :'success') :'
                                               '">
                                                    <nb-option *ngFor="let data of datasUniteTemps" [value]="data">
                                                        {{data.libelle}}</nb-option>
                                                </nb-select> -->
                            <ng-container *ngIf="uniteTemps.invalid && uniteTemps.touched">
                                <p class="caption status-danger" *ngIf="uniteTemps.errors?.required">
                                    Champ requis!
                                </p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="plafondSommeACrediter" class="label">Somme maxi à créditer <span
                  style="color: red;">*</span></label>
                            <input type="number" min="0" pattern="^[0-9]*" name="plafondSommeACrediter" nbInput fullWidth id="plafondSommeACrediter" placeholder="Somme maxi à créditer" [(ngModel)]="modelInformationRegleSecuriteCarte.plafondSommeACrediter" #plafondSommeACrediter="ngModel"
                                required [status]="plafondSommeACrediter.touched? (plafondSommeACrediter.invalid ?'danger' :'success') :''">
                            <ng-container *ngIf="plafondSommeACrediter.invalid && plafondSommeACrediter.touched">
                                <p class="caption status-danger" *ngIf="plafondSommeACrediter.errors?.required">
                                    Champ requis!
                                </p>
                                <p class="caption status-danger" *ngIf="plafondSommeACrediter.errors?.pattern">
                                    Merci de saisir une valeur entière
                                </p>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nbreFoisCrediterParPdv" class="label">Nombre maxi de fois credité par PDV </label>
                            <input type="number" min="0" pattern="^[0-9]*" name="nbreFoisCrediterParPdv" nbInput fullWidth id="nbreFoisCrediterParPdv" placeholder="Nombre maxi de fois credité par PDV" [(ngModel)]="modelInformationRegleSecuriteCarte.nbreFoisCrediterParPdv" #nbreFoisCrediterParPdv="ngModel">
                            <ng-container *ngIf="nbreFoisCrediterParPdv.invalid && nbreFoisCrediterParPdv.touched">
                                <p class="caption status-danger" *ngIf="nbreFoisCrediterParPdv.errors?.pattern">
                                    Merci de saisir une valeur entière
                                </p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nbreFoisCrediterAllPdv" class="label">Nombre maxi de fois credité pour tous les PDV </label>
                            <input type="number" min="0" pattern="^[0-9]*" name="nbreFoisCrediterAllPdv" nbInput fullWidth id="nbreFoisCrediterAllPdv" placeholder="Nombre maxi de fois credité pour tous les PDV" [(ngModel)]="modelInformationRegleSecuriteCarte.nbreFoisCrediterAllPdv"
                                #nbreFoisCrediterAllPdv="ngModel">
                            <ng-container *ngIf="nbreFoisCrediterAllPdv.invalid && nbreFoisCrediterAllPdv.touched">
                                <p class="caption status-danger" *ngIf="nbreFoisCrediterAllPdv.errors?.pattern">
                                    Merci de saisir une valeur entière
                                </p>
                            </ng-container>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <div class="form-group">
                            <label for="nbreFoisCrediterParPdv" class="label">Nombre maxi de fois credité par PDV <span
                                    style="color: red;">*</span></label>
                            <input type="number" min="0" pattern="^[0-9]*" name="nbreFoisCrediterParPdv" nbInput fullWidth id="nbreFoisCrediterParPdv" placeholder="Nombre maxi de fois credité par PDV" [(ngModel)]="modelInformationRegleSecuriteCarte.nbreFoisCrediterParPdv" #nbreFoisCrediterParPdv="ngModel"
                                required [status]="nbreFoisCrediterParPdv.touched? (nbreFoisCrediterParPdv.invalid ?'danger' :'success') :''">
                            <ng-container *ngIf="nbreFoisCrediterParPdv.invalid && nbreFoisCrediterParPdv.touched">
                                <p class="caption status-danger" *ngIf="nbreFoisCrediterParPdv.errors?.required">
                                    Champ requis!
                                </p>
                                <p class="caption status-danger" *ngIf="nbreFoisCrediterParPdv.errors?.pattern">
                                    Merci de saisir une valeur entière
                                </p>
                            </ng-container>
                        </div>
                    </div> -->
                </div>


                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"></div>
                </div>

                <br />
                <div>
                    <button type="button" (click)="addInformationRegleSecurite()" [disabled]="disableAjouter || !etatAjouterInfosRegles" nbButton status="danger" style="border-radius: 20px; border-style: none; display: block; margin-left: auto;margin-right: auto; background-color: #E34234;
                                                    color: white;">
            Ajouter
          </button>
                </div>
                <br />

                <ng-container *ngIf="doublonExiste || disableAjouter">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <p class="caption status-danger">
                                    Tentative de doublons dans votre saisie. Ces critères ont déja été saisies. Merci de saisir de nouvelles informations !!!
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-container>


                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive-md">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Temps</th>
                                        <th scope="col">Nombre maxi de point</th>
                                        <th scope="col">Nombre maxi de fois credité par PDV</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <ng-container *ngIf="datasInformationRegleSecuriteCarte">
                                    <tbody>
                                        <tr *ngFor=" let data of datasInformationRegleSecuriteCarte">
                                            <td>{{ data.uniteTempsLibelle}}</td>
                                            <td>{{ data.plafondSommeACrediter}}</td>
                                            <td>{{ data.nbreFoisCrediterParPdv}}</td>
                                            <td>
                                                <nb-icon class="m-1" (click)="modifierInformationRegleSecurite(data)" icon="edit-2-outline" pack="eva">
                                                </nb-icon>
                                                <nb-icon class="m-1" (click)="supprimerInformationRegleSecurite(data)" icon="trash-2-outline" pack="eva">
                                                </nb-icon>
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>

                            </table>
                        </div>
                    </div>
                </div>


                <br />
                <br />

            </form>


            <div>
                <button type="submit" [disabled]="!monModelForm.valid || isSubmitted" nbButton status="danger" style="border-radius: 20px; border-style: none; display: block; margin-left: auto;margin-right: auto; background-color: #E34234;
                                    color: white;">
          {{ actionSubmit }}
        </button>
            </div>

        </form>

    </nb-card-body>
</nb-card>
