<nb-card>
    <nb-card-header>Attention</nb-card-header>
    <nb-card-body>
        Voulez vous vraiment débloquer cet utilisateur ?
    </nb-card-body>
    <nb-card-footer>

        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <button class="cancel" nbButton status="danger" (click)="cancel('NON')">Non</button>
                <button nbButton status="success" (click)="submit('OUI')">Oui</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>