<nb-layout>
    <nb-layout-column style="background-color: #000537;">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </nb-layout-column>
</nb-layout>

<!-- <router-outlet></router-outlet> -->