<nb-card>
    <!-- <nb-card-header style="text-align: center; font-weight: bold;">Point de vente</nb-card-header> -->
    <nb-card-body>
        <ng-container *ngIf="optionAffichage == 'ACCUEIL'">
            <div class="row">
                <div class="col-md-12">

                    <div class="row mb-4">
                        <ng-container *ngIf="isAdminEnseigne; else isAdminEnseigneElseBlock">
                            <div class="col">
                                <h1 style="margin-top: 0px; margin-bottom: 0px;">Liste de mes points de vente
                                </h1>
                            </div>
                            <div class="col col-auto">
                                <button type="button" (click)="createPDV()" nbButton>CREER</button>
                            </div>
                        </ng-container>
                        <ng-template #isAdminEnseigneElseBlock>
                            <div class="col-md-12">
                                <h1 style="margin-top: 0px; margin-bottom: 0px;">Liste de mes points de vente
                                </h1>
                            </div>

                        </ng-template>


                        <br>
                    </div>
                    <table class="table table-responsive-md table-hover" id="example">
                        <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Nombre programme à points</th>
                                <th scope="col">Nombre programme à tampons</th>
                                <!-- <th scope="col">Nombre programme carte</th>
                                <th scope="col">Nombre programme tampon</th> -->
                                <!-- <th scope="col">Nombre gerant</th> -->
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="datasPDV && datasPDV.length > 0">
                            <ng-container *ngFor="let data of datasPDV">
                                <tr>
                                    <td>{{data.nom}}</td>
                                    <td>
                                        <ng-container *ngIf="data.isAllCarteDipso && data.isAllCarteDipso == true; else elseNbrePDFCarte">
                                            Tous
                                        </ng-container>
                                        <ng-template #elseNbrePDFCarte>{{data.nbreProgrammeFideliteCarte}}</ng-template>
                                    </td>
                                    <td>
                                        <ng-container *ngIf="data.isAllTamponDipso && data.isAllTamponDipso == true; else elseNbrePDFTampon">
                                            Tous
                                        </ng-container>
                                        <ng-template #elseNbrePDFTampon>{{data.nbreProgrammeFideliteTampon}}
                                        </ng-template>
                                    </td>
                                    <!-- <td>{{data.nbreUserEnseigne}}</td> -->
                                    <td>
                                        <nb-icon class="m-1" (click)="showPDV(data)" icon="eye-outline" pack="eva">
                                        </nb-icon>
                                        <ng-container *ngIf="isAdminEnseigne">
                                            <nb-icon class="m-1" (click)="updatePDV(data)" icon="edit-2-outline" pack="eva">
                                            </nb-icon>
                                            <nb-icon class="m-1" (click)="deletePDV(data)" icon="trash-outline" pack="eva">
                                            </nb-icon>
                                        </ng-container>


                                        <!--
                                <button type="button" (click)="voirAppelDoffres(data)">
                                  <nb-icon icon="eye-outline" pack="eva"></nb-icon>
                                </button>
                                <button type="button" (click)="voirAppelDoffres(data)">
                                  <nb-icon icon="edit-2-outline" pack="eva"></nb-icon>
                                </button>
                                <button type="button" (click)="voirAppelDoffres(data)">
                                  <nb-icon icon="trash-outline" pack="eva"></nb-icon>
                                </button>
                                -->
                                    </td>
                                </tr>

                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="optionAffichage == 'VOIR'">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="libelle" class="label">Nom : {{model.nom}} </label>
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <div class="form-group">
                        <label for="nbreTampon" class="label">Nombre de tampon: </label> {{model.nbreTampon}}
                    </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ng-container *ngIf="model.isAllCarteDipso && model.isAllCarteDipso == true; else elseIsAllCarteDipso">
                        <div class="form-group">
                            <label class="label">{{ allPDFCartePourCePDV }} </label>
                        </div>
                    </ng-container>
                    <ng-template #elseIsAllCarteDipso>
                        <label for="listeCarte" class="label">Listes des programme à points pour ce point de
              vente</label>

                        <div class="table-responsive-md">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">N°</th>
                                        <th scope="col">Libelle</th>
                                    </tr>
                                </thead>
                                <ng-container *ngIf="model.datasProgrammeFideliteCarte">
                                    <tbody>
                                        <tr *ngFor="let data of model.datasProgrammeFideliteCarte; index as i">
                                            <th>{{ i }}</th>
                                            <td>{{ data.libelle}}</td>
                                        </tr>
                                    </tbody>
                                </ng-container>

                            </table>
                        </div>
                    </ng-template>
                </div>
                <div class="col-md-6">
                    <ng-container *ngIf="model.isAllTamponDipso && model.isAllTamponDipso == true; else elseIsAllTamponDipso">
                        <div class="form-group">
                            <label class="label">{{ allPDFTamponPourCePDV }} </label>
                        </div>
                    </ng-container>
                    <ng-template #elseIsAllTamponDipso>
                        <label for="listeTampon" class="label">Listes des programme à tampons pour ce point de
              vente</label>

                        <div class="table-responsive-md">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">N°</th>
                                        <th scope="col">Libelle</th>
                                    </tr>
                                </thead>
                                <ng-container *ngIf="model.datasProgrammeFideliteTampon">
                                    <tbody>
                                        <tr *ngFor="let data of model.datasProgrammeFideliteTampon; index as i">
                                            <th>{{ i }}</th>
                                            <td>{{ data.libelle}}</td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                            </table>
                        </div>
                    </ng-template>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description" class="label">Description</label>
                        <textarea type="text" rows="5" readonly nbInput fullWidth id="description" [(ngModel)]="model.description" name="description" placeholder="Description"></textarea>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="model.dataGpsPointDeVente; else elseGpsPointDeVente">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="latitude" class="label">Latitude position GPS :
                {{model.dataGpsPointDeVente.latitude}}
              </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="longititude" class="label">Longititude position GPS :
                {{model.dataGpsPointDeVente.longititude}}
              </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 20px;">
                        <ngx-map [searchedLocation]="searchedLocation"></ngx-map>
                    </div>

                </div>
            </ng-container>
            <ng-template #elseGpsPointDeVente>
                <label class="label">{{ aucunGPSPourCePDV }} </label>
            </ng-template>

            <ng-container *ngIf="dataUserEnseigne; else elseUserEnseigne">
                <div class="row">
                    <div class="col-md-12" style="font-weight: bold; padding: 15px;">
                        UTILISATEUR POINT DE VENTE
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nom" class="label">Nom : {{dataUserEnseigne.nom}}</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="prenoms" class="label">Prenoms :
                {{dataUserEnseigne.prenoms ? dataUserEnseigne.prenoms : donneeNonRenseigne}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email" class="label">Email : {{dataUserEnseigne.email}}</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="telephone" class="label">Téléphone :
                {{dataUserEnseigne.telephone ? dataUserEnseigne.telephone : donneeNonRenseigne}}</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="role" class="label">Fonction : {{dataUserEnseigne.roleLibelle}}</label>
                        </div>
                    </div>

                </div>
            </ng-container>
            <ng-template #elseUserEnseigne>
                <label class="label">{{ aucunUserPourCePDV }} </label>
            </ng-template>


        </ng-container>
    </nb-card-body>
</nb-card>

<!-- <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="isAllCarteDipso" class="label">Pour tous les PDF Cartes </label>
                        <nb-radio-group disabled name="isAllCarteDipso">
                            <nb-radio value="true" [checked]="model.isAllCarteDipso">
                                Oui
                            </nb-radio>
                            <nb-radio value="false" [checked]="!model.isAllCarteDipso">
                                Non
                            </nb-radio>
                        </nb-radio-group>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nbrePallier" class="label">Pour tous les PDF Tampon </label>
                        <nb-radio-group disabled readonly name="isAllTamponDipso">
                            <nb-radio value="true" [checked]="model.isAllTamponDipso">
                                Oui
                            </nb-radio>
                            <nb-radio value="false" [checked]="!model.isAllTamponDipso">
                                Non
                            </nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="model.datasProgrammeFideliteTampon">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="programmeFideliteTampons" class="label">Programme de fidelite tampon </label>
                            <nb-select name="programmeFideliteTampons" [(selected)]="datasProgrammeFideliteTamponSelected" ngModel #listProgrammeFideliteTampon="ngModel" fullWidth multiple placeholder="Programme de fidelite tampon">
                                <nb-option readonly *ngFor=" let data of model.datasProgrammeFideliteTampon" [value]="data">
                                    {{data.libelle}}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="model.datasProgrammeFideliteCarte">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="programmeFideliteCartes" class="label">Programme de fidelite carte </label>
                            <nb-select readonly name="programmeFideliteCartes" fullWidth multiple placeholder="Programme de fidelite carte">
                                <nb-option *ngFor=" let data of model.datasProgrammeFideliteCarte" [value]="data">
                                    {{data.libelle}}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                </div>
            </ng-container> -->

<!-- <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive-md">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Règle</th>
                                                <th scope="col">Temps</th>
                                                <th scope="col">Max par PDV</th>
                                                <th scope="col">Max pour tous les PDV</th>
                                            </tr>
                                        </thead>
                                        <ng-container *ngIf="model.datasInformationRegleSecuriteTampon">
                                            <tbody>
                                                <tr *ngFor=" let data of model.datasInformationRegleSecuriteTampon">
                                                    <th>{{ data.typeRegleSecuriteTamponLibelle}}</th>
                                                    <td>{{ data.uniteTempsLibelle}}</td>
                                                    <td>{{ data.nbreMaxiParPdv}}</td>
                                                    <td>{{ data.nbreMaxiAllPdv}}</td>
                                                </tr>
                                            </tbody>
                                        </ng-container>

                                    </table>
                                </div>
                            </div>

                        </div> -->