// @import '../../../@theme/styles/themes';
// @import '~bootstrap/scss/mixins/breakpoints';
// @import '~@nebular/theme/styles/global/breakpoints';
// @include nb-install-component() {
nb-radio-group {
    display: flex;
    //justify-content: space-between;
}

.custom-border-card {
    border-radius: 50px;
}

// nb-radio {
//     flex: 0 0 auto;
//     width: calc(3.5rem + 2px);
//     height: calc(3.5rem + 2px);
//      ::ng-deep {
//         .outer-circle,
//         .inner-circle {
//             display: none;
//         }
//         label {
//             padding: 0;
//         }
//         .text {
//             border: 1px solid transparent;
//             font-size: 2.5rem;
//             padding: 0.5rem;
//             margin: 0;
//             color: nb-theme(text-hint-color);
//         }
//         input:checked~.text {
//             border-color: nb-theme(color-primary-default);
//             border-radius: nb-theme(card-border-radius);
//             color: nb-theme(text-primary-color);
//         }
//     }
// }
// }