<nb-card class="custom-border-card">
    <nb-card-header style="text-align: center; font-weight: bold;">EDITER UN PROGRAMME A TAMPONS
    </nb-card-header>
    <!-- <nb-card-header style="text-align: center; font-weight: bold;">EDITER PROGRAMME DE FIDELITE TAMPON ENSEIGNE
    </nb-card-header> -->
    <nb-card-body>
        <form (ngSubmit)="submit(monModelForm)" #monModelForm="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="libelle" class="label">Nom du programme <span style="color: red;">*</span></label>
                        <input type="text" name="libelle" nbInput fullWidth id="libelle" placeholder="Nom du programme" [(ngModel)]="model.libelle" #libelle="ngModel" required [status]="libelle.touched? (libelle.invalid ?'danger' :'success') :''">
                        <ng-container *ngIf="libelle.invalid && libelle.touched">
                            <p class="caption status-danger" *ngIf="libelle.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nbreTampon" class="label">Nombre de tampon <span style="color: red;">*</span></label>
                        <input type="number" min="1" max="10" pattern="^([1-9]|10)" name="nbreTampon" nbInput fullWidth id="nbreTampon" placeholder="Nombre de tampon" [(ngModel)]="model.nbreTampon" #nbreTampon="ngModel" required [status]="nbreTampon.touched? (nbreTampon.invalid ?'danger' :'success') :''">
                        <ng-container *ngIf="nbreTampon.invalid && nbreTampon.touched">
                            <p class="caption status-danger" *ngIf="nbreTampon.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="nbreTampon.errors?.pattern">
                                Exemple de saisie: un entier de 1 à 10
                            </p>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nbrePallier" class="label">Nombre de pallier <span style="color: red;">*</span></label>
                        <input type="number" min="1" max="4" pattern="^[1-4]" name="nbrePallier" nbInput fullWidth id="nbrePallier" placeholder="Nombre de pallier" [(ngModel)]="model.nbrePallier" #nbrePallier="ngModel" required [status]="nbrePallier.touched? (nbrePallier.invalid ?'danger' :'success') :''">
                        <ng-container *ngIf="nbrePallier.invalid && nbrePallier.touched">
                            <p class="caption status-danger" *ngIf="nbrePallier.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="nbrePallier.errors?.pattern">
                                Exemple de saisie: un entier de 1 à 4
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="gain" class="label">Gain <span style="color: red;">*</span></label>
                        <input type="text" name="gain" nbInput fullWidth id="gain" placeholder="Gain" [(ngModel)]="model.gain" #gain="ngModel" required [status]="gain.touched? (gain.invalid ?'danger' :'success') :''">
                        <ng-container *ngIf="gain.invalid && gain.touched">
                            <p class="caption status-danger" *ngIf="gain.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="valeurMaxGain" class="label">Valeur max du gain</label>
                        <input type="number" min="0" pattern="^[0-9]*" name="valeurMaxGain" nbInput #valeurMaxGain="ngModel" fullWidth id="valeurMaxGain" placeholder="Valeur max du gain" [(ngModel)]="model.valeurMaxGain">
                        <!-- <ng-container *ngIf="valeurMaxGain.invalid && valeurMaxGain.touched">
                            <p class="caption status-danger" *ngIf="valeurMaxGain.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container> -->
                        <ng-container *ngIf="valeurMaxGain.invalid && valeurMaxGain.touched">
                            <p class="caption status-danger" *ngIf="valeurMaxGain.errors?.pattern">
                                Merci de saisir une valeur entière
                            </p>
                        </ng-container>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tamponObtenuApresSouscription" class="label">Nombre de tampon obtenu apres
              souscription</label>
                        <input type="number" min="0" pattern="^[0-9]*" name="tamponObtenuApresSouscription" nbInput #tamponObtenuApresSouscription="ngModel" fullWidth id="tamponObtenuApresSouscription" placeholder="Nombre de tampon obtenu apres souscription" [(ngModel)]="model.tamponObtenuApresSouscription">
                        <!-- <ng-container *ngIf="valeurMaxGain.invalid && valeurMaxGain.touched">
                                                                    <p class="caption status-danger" *ngIf="valeurMaxGain.errors?.required">
                                                                        Champ requis!
                                                                    </p>
                                                                </ng-container> -->
                        <ng-container *ngIf="tamponObtenuApresSouscription.invalid && tamponObtenuApresSouscription.touched">
                            <p class="caption status-danger" *ngIf="tamponObtenuApresSouscription.errors?.pattern">
                                Merci de saisir une valeur entière
                            </p>
                        </ng-container>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <ng-container *ngIf="model.urlImage != null && notChangeLogo ; else elseFileBlock">
                            <!-- <label for="inputFichier" class="label">Changer de logo:</label> -->
                            <button type="button" nbButton status="primary" (click)="changerLogo()"> Changer de
                logo</button>
                        </ng-container>
                        <ng-template #elseFileBlock>
                            <label for="inputFichier" class="label">Choisir Logo:</label>
                            <input type="file" nbInput fullWidth id="inputFichier" name="urlLogo" placeholder="logo" (change)="isSelectFileEntreprise($event)">
                        </ng-template>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nbrePallier" class="label">Disponible dans tous les PDV <span
                style="color: red;">*</span></label>
                        <nb-radio-group (valueChange)="changeIsDispoInAllPdvValue($event)" name="isDispoInAllPdv">
                            <nb-radio *ngFor="let option of optionsRadio" [checked]="option.checked" [value]="option.value">
                                {{ option.label}}</nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
            </div>


            <ng-container *ngIf="model.isDispoInAllPdv && model.isDispoInAllPdv =='false'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="pointDeVentes" class="label">Point de vente <span style="color: red;">*</span></label>

                            <!-- <nb-select name="secteurActivites" [(selected)]="datasSecteurActiviteSelected" ngModel #listSecteurActivites="ngModel" fullWidth multiple placeholder="Secteurs d
                           'activités" [status]="listSecteurActivites.dirty ? ( datasSecteurActiviteSelected != null && datasSecteurActiviteSelected.length > 0 && listSecteurActivites.invalid ?'success' :'danger') :'
                           '"> -->
                            <nb-select name="pointDeVentes" [(selected)]="datasPointDeVenteSelected" ngModel #listPointDeVente="ngModel" fullWidth multiple placeholder="Point de vente">
                                <nb-option *ngFor=" let data of datasPointDeVente" [value]="data">
                                    {{data.nom}}</nb-option>
                            </nb-select>
                            <!-- <ng-container *ngIf="datasSecteurActiviteSelected !=n ull && listSecteurActivites.invalid && listSecteurActivites.touched">
                                                                <p class="caption status-danger" *ngIf="listSecteurActivites.errors?.required">
                                                                    Champ requis!
                                                                </p>
                                                            </ng-container> -->
                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description" class="label">Description</label>
                        <textarea type="text" rows="5" nbInput fullWidth id="description" [(ngModel)]="model.description" name="description" placeholder="Description"></textarea>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="conditionsDutilisation" class="label">Conditions d'utilisation</label>
                        <ckeditor [(ngModel)]="model.conditionsDutilisation" name="valueCkeditor" (change)="onChange($event)" [config]="{ extraPlugins: 'divarea', height: '320' }">
                        </ckeditor>
                    </div>
                </div>
            </div>




            <form>
                <div class="row">
                    <div class="col-md-12" style="font-weight: bold; padding: 15px;">
                        LES REGLES DE SECURITE
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col-md-6">
                        <div class="form-group">
                            <label for="typeRegleSecuriteTamponId" class="label">Type règle <span style="color: red;">*</span></label>
                            <nb-select nbSelect name="typeRegleSecuriteTamponId" fullWidth placeholder="Type règle" [(ngModel)]="modelInformationRegleSecuriteTampon.typeRegleSecuriteTamponId" #typeRegleSecuriteTamponId="ngModel" required [status]="typeRegleSecuriteTamponId.touched? (typeRegleSecuriteTamponId.invalid ?'danger' :'success') :''">
                                <nb-option selected="typeRegleSecuriteTampon" *ngFor="let data of datasTypeRegleSecuriteTampon" [value]="data.id">
                                    {{data.libelle}}</nb-option>

                            </nb-select>
                            <ng-container *ngIf="typeRegleSecuriteTamponId.invalid && typeRegleSecuriteTamponId.touched">
                                <p class="caption status-danger" *ngIf="typeRegleSecuriteTamponId.errors?.required">
                                    Champ requis!
                                </p>
                            </ng-container>
                        </div>
                      </div> -->

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="uniteTempsId" class="label">Unite de temps <span style="color: red;">*</span></label>
                            <nb-select name="uniteTempsId" fullWidth placeholder="Unite de temps" [(ngModel)]="modelInformationRegleSecuriteTampon.uniteTempsId" #uniteTemps="ngModel" required [status]="uniteTemps.touched && uniteTemps.touched? (uniteTemps.invalid ?'danger' :'success') :''">
                                <nb-option *ngFor="let data of datasUniteTemps" [value]="data.id">
                                    {{data.libelle}}</nb-option>
                            </nb-select>
                            <!-- <nb-select name="uniteTempsId" fullWidth placeholder="Fonction" [(ngModel)]="modelInformationRegleSecuriteTampon.uniteTemps" (click)="changeData()" #uniteTemps="ngModel" required [status]="uniteTemps.touched && uniteTemps.touched? (uniteTemps.invalid ?'danger' :'success') :'
                                       '">
                                            <nb-option *ngFor="let data of datasUniteTemps" [value]="data">
                                                {{data.libelle}}</nb-option>
                                        </nb-select> -->
                            <ng-container *ngIf="uniteTemps.invalid && uniteTemps.touched">
                                <p class="caption status-danger" *ngIf="uniteTemps.errors?.required">
                                    Champ requis!
                                </p>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nbreMaxiParPdv" class="label">Nombre maxi de flash par PDV <span
                  style="color: red;">*</span></label>
                            <input type="number" min="0" pattern="^[0-9]*" name="nbreMaxiParPdv" nbInput fullWidth id="nbreMaxiParPdv" placeholder="Nombre maxi de flash par PDV" [(ngModel)]="modelInformationRegleSecuriteTampon.nbreMaxiParPdv" #nbreMaxiParPdv="ngModel" required [status]="nbreMaxiParPdv.touched? (nbreMaxiParPdv.invalid ?'danger' :'success') :''">
                            <ng-container *ngIf="nbreMaxiParPdv.invalid && nbreMaxiParPdv.touched">
                                <p class="caption status-danger" *ngIf="nbreMaxiParPdv.errors?.required">
                                    Champ requis!
                                </p>
                                <p class="caption status-danger" *ngIf="nbreMaxiParPdv.errors?.pattern">
                                    Merci de saisir une valeur entière
                                </p>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nbreMaxiAllPdv" class="label">Nombre maxi de flash pour tous les
                PDV</label>
                            <input type="number" min="0" pattern="^[0-9]*" name="valeurMaxGain" nbInput #valeurMaxGain="ngModel" fullWidth id="nbreMaxiAllPdv" placeholder="Nombre maxi de flash pour tous les PDV" [(ngModel)]="modelInformationRegleSecuriteTampon.nbreMaxiAllPdv">
                            <!-- <ng-container *ngIf="valeurMaxGain.invalid && valeurMaxGain.touched">
                                                                <p class="caption status-danger" *ngIf="valeurMaxGain.errors?.required">
                                                                    Champ requis!
                                                                </p>
                                                            </ng-container> -->
                            <ng-container *ngIf="valeurMaxGain.invalid && valeurMaxGain.touched">
                                <p class="caption status-danger" *ngIf="valeurMaxGain.errors?.pattern">
                                    Merci de saisir une valeur entière
                                </p>
                            </ng-container>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"></div>
                </div>

                <br />
                <div>
                    <button type="submit" (click)="addInformationRegleSecurite()" [disabled]="disableAjouter || !etatAjouterInfosRegles" nbButton status="danger" style="border-radius: 20px; border-style: none; display: block; margin-left: auto;margin-right: auto; background-color: #E34234;
                                                                color: white;">
            Ajouter
          </button>
                </div>

                <br />
                <ng-container *ngIf="doublonExiste || disableAjouter">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <p class="caption status-danger">
                                    Tentative de doublons dans votre saisie. Ces critrères ont déja été saisies. Merci de saisir de nouvelles informations !!!
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive-md">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Temps</th>
                                        <th scope="col">Max par PDV</th>
                                        <th scope="col">Max pour tous les PDV</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <ng-container *ngIf="datasInformationRegleSecuriteTampon">
                                    <tbody>
                                        <tr *ngFor=" let data of datasInformationRegleSecuriteTampon">
                                            <td>{{ data.uniteTempsLibelle}}</td>
                                            <td>{{ data.nbreMaxiParPdv}}</td>
                                            <td>{{ data.nbreMaxiAllPdv}}</td>
                                            <td>
                                                <nb-icon class="m-1" (click)="modifierInformationRegleSecurite(data)" icon="edit-2-outline" pack="eva">
                                                </nb-icon>
                                                <nb-icon class="m-1" (click)="supprimerInformationRegleSecurite(data)" icon="trash-2-outline" pack="eva">
                                                </nb-icon>
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>

                            </table>
                        </div>
                    </div>
                </div>


                <br />
                <br />

            </form>

            <div class="row">
                <div class="col-md-12">


                </div>

            </div>

            <!-- <div class="row">
                <ng-container *ngIf="datasTypeRegleSecuriteTampon">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Statut Juridique<span
                                    class="obligatoire">*</span>:</label>
                            <nb-select [(ngModel)]="modelInformationRegleSecuriteTampon.typeRegleSecuriteTamponId" name="statutJuridiqueId" nbSelect fullWidth required #statutJuridique="ngModel">
                                <nb-option selected="dataEntreprise.statutJuridiqueId" *ngFor="let data of datasTypeRegleSecuriteTampon" [value]="data.id">{{data.libelle}}
                                </nb-option>
                            </nb-select>
                            <ng-container *ngIf="statutJuridique.invalid && statutJuridique.touched">
                                <p class="caption status-danger" *ngIf="statutJuridique.errors?.required">
                                    Champ requis!
                                </p>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>

            </div>
            <div class="row">
                <div class="col-md-6">


                    <div class="form-group">
                        <label for="typeRegleSecuriteTamponId" class="label">Type règle <span
                                style="color: red;">*</span></label>
                        <nb-select ngModel name="typeRegleSecuriteTamponId" nbSelect fullWidth required placeholder="Type règle" #typeRegleSecuriteTampon="ngModel">
                            <nb-option *ngFor="let data of datasTypeRegleSecuriteTampon" [value]="data.id">
                                {{data.libelle}}</nb-option>

                        </nb-select>
                        <ng-container *ngIf="typeRegleSecuriteTampon.invalid && typeRegleSecuriteTampon.touched">
                            <p class="caption status-danger" *ngIf="typeRegleSecuriteTampon.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="uniteTempsId" class="label">Unite de temps <span
                                style="color: red;">*</span></label>
                        <nb-select name="uniteTempsId" fullWidth placeholder="Unite de temps" [(ngModel)]="modelInformationRegleSecuriteTampon.uniteTempsId" #uniteTemps="ngModel" required [status]="uniteTemps.touched && uniteTemps.touched? (uniteTemps.invalid ?'danger' :'success') :''">
                            <nb-option *ngFor="let data of datasUniteTemps" [value]="data.id">
                                {{data.libelle}}</nb-option>
                        </nb-select>
                        <ng-container *ngIf="uniteTemps.invalid && uniteTemps.touched">
                            <p class="caption status-danger" *ngIf="uniteTemps.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>
                </div>
            </div> -->


            <div>
                <button type="submit" [disabled]="!monModelForm.valid || isSubmitted" nbButton status="danger" style="border-radius: 20px; border-style: none; display: block; margin-left: auto;margin-right: auto; background-color: #E34234;
                                    color: white;">
          {{ actionSubmit }}
        </button>
            </div>

        </form>

    </nb-card-body>
</nb-card>