<div class="header-container">
    <!-- <div class="logo-container"> -->
    <!-- <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
            <nb-icon icon="menu-2-outline"></nb-icon>
        </a> -->
    <!-- <a class="navbar-brand m-0 p-0" href="#"> -->

    <!-- <a href="#" class="sidebar-toggle">
            <img src="assets/images/logo_fond_bleu.png" width="90" height="40" class="d-inline-block align-top" alt="logo">
        </a> -->
    <a href="#" (click)="navigateHome()" class="p-2 m-2"><img src="assets/images/logo_fond_bleu.png" width="90 " height="40 " class="d-inline-block align-top " alt="logo "></a>
    <!--  <a class="logo " href="# " (click)="navigateHome() ">Close-<span>apps</span></a> -->
    <a class="p-2 m-2 text-dark " href="# ">ACCUEIL</a>
    <a class="p-2 m-2 text-dark " href="# ">SERVICE CLIENT / FAQ</a>
    <a class="p-2 m-2 text-dark " href="# ">CONFIDENTIALITE</a>
    <a class="p-2 m-2 text-dark " href="# ">NOUS CONTACTER</a>
    <!-- <a class="p-2 m-2 text-dark text-link" routerLink="../../../authentification/inscription">S'inscrire</a> -->
    <a class="p-2 m-2 text-dark" routerLink="../../../authentification/login">S'inscrire</a>
    <a routerLink="/pages/dashboard" routerLinkActive="active"> Mot de
        passe oublié
        ?</a>

    <!-- </div> -->

    <!-- <nb-select [selected]="currentTheme " (selectedChange)="changeTheme($event) " status="primary ">
        <nb-option *ngFor="let theme of themes " [value]="theme.value "> {{ theme.name }}</nb-option>
    </nb-select> -->

</div>

<a routerLink="/pages/dashboard" routerLinkActive="active"> Mot de
    passe oublié
    ?</a>
<!-- <div class="header-container ">
    <a class="p-2 " href="# ">ACCUEIL</a>
    <a class="p-2 text-dark " href="# ">SERVICE CLIENT / FAQ</a>
    <a class="p-2 text-dark " href="# ">CONFIDENTIALITE</a>
    <a class="p-2 text-dark " href="# ">NOUS CONTACTER</a>
    <a class="p-2 text-dark " href="# ">S'inscrire</a>
</div> -->

<!-- <nav>
    <a class="p-2 " href="# ">Features</a>
    <a class="p-2 text-dark " href="# ">Enterprise</a>
    <a class="p-2 text-dark " href="# ">Support</a>
    <a class="p-2 text-dark " href="# ">Pricing</a>
</nav> -->

<div class="header-container ">
    <nb-actions size="small ">

        <nb-action class="control-item ">
            <nb-search type="rotate-layout "></nb-search>
        </nb-action>
        <!-- <nb-action class="control-item " icon="email-outline "></nb-action>
        <nb-action class="control-item " icon="bell-outline "></nb-action>-->
        <nb-action class="user-action " *nbIsGranted="[ 'view', 'user'] ">
            <!-- <nb-user [nbContextMenu]="userMenu " [onlyPicture]="userPictureOnly " [name]="user?.name " [picture]="user?.picture ">
            </nb-user> -->
            <nb-user [nbContextMenu]="userMenu " [onlyPicture]="userPictureOnly " [name]="user?.name " [picture]=" ">
            </nb-user>
        </nb-action>
    </nb-actions>
</div>

<!--<div class="header-container ">


    <nav class="my-2 my-md-0 mr-md-3 ">
        <a class="p-2 text-dark " href="# ">Features</a>
        <a class="p-2 text-dark " href="# ">Enterprise</a>
        <a class="p-2 text-dark " href="# ">Support</a>
        <a class="p-2 text-dark " href="# ">Pricing</a>
    </nav>

   
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm ">
        <h5 class="my-0 mr-md-auto font-weight-normal ">Company name</h5>
        <nav class="my-2 my-md-0 mr-md-3 ">
            <a class="p-2 text-dark " href="# ">Features</a>
            <a class="p-2 text-dark " href="# ">Enterprise</a>
            <a class="p-2 text-dark " href="# ">Support</a>
            <a class="p-2 text-dark " href="# ">Pricing</a>
        </nav>
        <a class="btn btn-outline-primary " href="# ">Sign up</a>
    </div>
    
</div>
-->