<h1>QR code de la carte à points</h1>


<div class="row">

    <div class="col-md-6">
        <div class="form-group">
            <label for="datasTypeActions" class="label">Action <span style="color: red;">*</span></label>

            <!-- <nb-select name="secteurActivites" [(selected)]="datasSecteurActiviteSelected" ngModel #listSecteurActivites="ngModel" fullWidth multiple placeholder="Secteurs d
                           'activités" [status]="listSecteurActivites.dirty ? ( datasSecteurActiviteSelected != null && datasSecteurActiviteSelected.length > 0 && listSecteurActivites.invalid ?'success' :'danger') :'
                           '"> -->
            <nb-select name="datasTypeActions" (selectedChange)="changeAction($event)" [(ngModel)]="dataTypeAction" #ngDatasTypeAction="ngModel" fullWidth placeholder="Type action">
                <nb-option *ngFor=" let data of datasTypeAction" [value]="data">
                    {{data.libelle}}</nb-option>
            </nb-select>
            <!-- <ng-container *ngIf="datasSecteurActiviteSelected !=n ull && listSecteurActivites.invalid && listSecteurActivites.touched">
                                                                <p class="caption status-danger" *ngIf="listSecteurActivites.errors?.required">
                                                                    Champ requis!
                                                                </p>
                                                            </ng-container> -->
        </div>
    </div>
    <div class="col-md-6">

        <ng-container *ngIf="isDebiter == false">
            <div class="form-group">
                <label for="somme" class="label">Somme <span style="color: red;">*</span></label>

                <input type="number" (keyup)="onKeySomme($event)" name="somme" min="1" nbInput fullWidth id="libelle" placeholder="Somme" [(ngModel)]="somme" #ngSomme="ngModel" required [status]="ngSomme.touched? (ngSomme.invalid ?'danger' :'success') :''">
                <ng-container *ngIf="ngSomme.invalid && ngSomme.touched">
                    <p class="caption status-danger" *ngIf="ngSomme.errors?.required">
                        Champ requis!
                    </p>
                </ng-container>
            </div>
        </ng-container>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="commentaire" class="label">Commentaire</label>
            <textarea type="text" rows="5" nbInput fullWidth id="description" [(ngModel)]="description" name="description" placeholder="Commentaire"></textarea>
        </div>
    </div>
</div>

<!-- <ng2-qr-scanner></ng2-qr-scanner> -->

<ng-container *ngIf="isDebiter == false || isVisibleScan == true">

</ng-container>
<qr-scanner [debug]="false" [canvasWidth]="1080" [canvasHeight]="720" [stopAfterScan]="true" [updateTime]="500">
    <!-- <qr-scanner [debug]="false" [canvasWidth]="580" [canvasHeight]="520" [stopAfterScan]="true" [updateTime]="500"> -->
</qr-scanner>