<div class="accordion-container col-md-12">
    <div class="section-title">
        <h2>Les règles de confidentialité de Close</h2>
        <p>Ci-dessous nos règles de confidentialités. Pour des imcompréhensions, n'hesitez pas à nous <a routerLink="/pages/nous-contacter">contacter</a>...</p>

    </div>
    <nb-accordion multi>
        <!-- <nb-accordion multi>-->
        <nb-accordion-item>
            <nb-accordion-item-header>
                À propos de cet avis
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                Informations que vous nous fournissez: nous recevons et stockons les informations que vous nous fournissez, y compris vos données d'identité, vos coordonnées, votre adresse de livraison et vos données financières. Informations sur votre utilisation de
                notre site Web et / ou de nos applications mobiles: nous collectons et stockons automatiquement certains types d'informations concernant votre utilisation du site Jumia (marketplace), y compris des informations sur vos recherches, vues,
                téléchargements et achats. Informations provenant de tiers et de sources accessibles au public: nous pouvons recevoir des informations vous concernant de tiers, y compris nos transporteurs; prestataires de services de paiement; marchands
                / marques; et prestataires de services publicitaires.
            </nb-accordion-item-body>
        </nb-accordion-item>

        <nb-accordion-item>
            <nb-accordion-item-header>
                Sécurité des données
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                Nous avons mis en place des mesures de sécurité appropriées pour éviter que vos données personnelles ne soient accidentellement perdues, utilisées ou consultées de manière non autorisée, modifiées ou divulguées. En outre, nous limitons l'accès à vos données
                personnelles aux employés, agents, sous-traitants et autres tiers qui ont besoin de les connaître pour exécuter leurs obligations. Ils ne traiteront vos données personnelles que sur nos instructions et sont soumis à un devoir de confidentialité.
                Nous avons mis en place des procédures pour faire face à toute violation présumée de données personnelles et vous informerons ainsi que tout organisme de réglementation compétent, de toute violation lorsque nous sommes légalement tenus
                de le faire. </nb-accordion-item-body>
        </nb-accordion-item>

        <nb-accordion-item>
            <nb-accordion-item-header>
                Vos droits légaux
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                Il est important que les données personnelles que nous détenons à votre sujet soient exactes et à jour. Veuillez nous tenir informés si vos données personnelles changent pendant votre relation avec nous. Dans certaines circonstances, vous avez des droits
                en vertu des lois sur la protection des données en ce qui concerne vos données personnelles, y compris le droit d'accéder, de corriger ou de supprimer vos données personnelles et le droit de vous opposer ou de restreindre le traitement
                de vos données personnelles.
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</div>