<!-- <nb-layout-column>
    <ng-content select="router-outlet"></ng-content>
</nb-layout-column> -->


<!-- le contenu des pages-->
<!-- <nb-layout class="p-10 m-0"> -->
<nb-layout>
    <nb-layout-column style="background-color: #000537;">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </nb-layout-column>
</nb-layout>