<!-- <nb-card>
    <nb-card-header>Enter your name</nb-card-header>
    <nb-card-body>
        <input #name nbInput placeholder="Name">
    </nb-card-body>
    <nb-card-footer>
        <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
        <button nbButton status="success" (click)="submit(name.value)">Submit</button>
    </nb-card-footer>
</nb-card> -->

<!-- <nb-card>
    <nb-card-header>Boite de dialogue</nb-card-header>
    <nb-card-body>
        <input #name nbInput placeholder="Name"> Voulez vous vraiment supprimer cet element ?
    </nb-card-body>
    <nb-card-footer>
        <button class="cancel" nbButton status="danger" (click)="cancel()">Non</button>
        <button nbButton status="success" (click)="submit(name.value)">Oui</button>
    </nb-card-footer>
</nb-card> -->

<!-- <nb-card>
    <nb-card-header>{{ action }}</nb-card-header>
    <nb-card-body>
        {{ contenu }}
    </nb-card-body>
    <nb-card-footer>
        <button class="cancel" nbButton status="danger" (click)="cancel()">Non</button>
        <button nbButton status="success" (click)="submit(name.value)">Oui</button>
    </nb-card-footer>
</nb-card> -->

<!--
<nb-card>
    <nb-card-header>Bloquer utilisateur</nb-card-header>
    <nb-card-body>
        Voulez vous vraiment bloquer cet utilisateur ?
    </nb-card-body>
    <nb-card-footer>

        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <button class="cancel" nbButton status="danger" (click)="cancel('NON')">Non</button>
                <button nbButton status="success" (click)="submit('OUI')">Oui</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card> -->

<nb-card>
    <nb-card-header>Voulez vous vraiment bloquer cet utilisateur ?</nb-card-header>
    <nb-card-body>
        <textarea type="text" rows="5" nbInput fullWidth #message placeholder="Lui laisser un message"></textarea>
    </nb-card-body>
    <nb-card-footer>

        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <button class="cancel" nbButton status="danger" (click)="cancel()">Non</button>
                <button nbButton [disabled]="message.value" status="success" (click)="submit(message.value)">Oui</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>