<div class="row">
    <div class="col-md-6 m-20" style="margin: auto; margin-bottom: 30px ;">
        <img src="assets/images/logo_fond_bleu.png" width="200" height="80" alt="logo" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
</div>
<div class="row">
    <div class="col-md-6" style="margin: auto;">


        <nb-card style="border-radius: 50px;">
            <nb-card-header style=" text-align: center; font-weight: bold;">CHANGER MON MOT DE PASSE</nb-card-header>
            <nb-card-body>
                <form (ngSubmit)="submit(monModelForm)" #monModelForm="ngForm">
                    <ng-container *ngIf="!isResetByEmail">
                        <div class="form-group">
                            <label for="password" class="label">Ancien Mot de passe <span
                                    style="color: red;">*</span></label>
                            <input type="password" nbInput fullWidth id="password" name="password" placeholder="Ancien Mot de passe" [(ngModel)]="model.password" #password="ngModel" required [status]="password.dirty? (password.invalid ? 'danger' : 'success') : ''">

                            <ng-container *ngIf="password.invalid && password.touched">
                                <p class="caption status-danger" *ngIf="password.errors?.required">
                                    Champ requis!
                                </p>
                                <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                                    Le mot de passe doit contenir au moins 4 caractères
                                </p>
                            </ng-container>
                        </div>
                    </ng-container>

                    <div class="form-group">
                        <label for="newPassword" class="label">Nouveau Mot de passe <span
                                style="color: red;">*</span></label>
                        <input type="password" nbInput fullWidth id="newPassword" name="newPassword" placeholder="Nouveau Mot de passe" [(ngModel)]="model.newPassword" #newPassword="ngModel" required [status]="newPassword.dirty? (newPassword.invalid ? 'danger' :
                            'success') : ''">

                        <ng-container *ngIf="newPassword.invalid && newPassword.touched">
                            <p class="caption status-danger" *ngIf="newPassword.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="newPassword.errors?.minlength || newPassword.errors?.maxlength">
                                Le mot de passe doit contenir au moins 4 caractères
                            </p>
                            <!-- <p class="caption status-danger" *ngIf="confirmNewPassword.value != newPassword.value && !newPassword.errors?.required">
                                Le mot de passe ne correspond pas à la confirmation.
                            </p> -->
                        </ng-container>
                    </div>
                    <div class="form-group">
                        <label for="confirmNewPassword" class="label">Confirmer Nouveau Mot de passe <span
                                style="color: red;">*</span></label>
                        <input type="password" nbInput fullWidth id="confirmNewPassword" name="confirmNewPassword" placeholder="Confirmer Nouveau Mot de passe" [(ngModel)]="confirmPassword" #confirmNewPassword="ngModel" required [status]="confirmNewPassword.touched
               ? (confirmNewPassword.invalid || newPassword.value != confirmNewPassword.value ? 'danger' : 'success')
               : ''">

                        <ng-container *ngIf="confirmNewPassword.touched">
                            <p class="caption status-danger" *ngIf="confirmNewPassword.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="confirmNewPassword.errors?.minlength || confirmNewPassword.errors?.maxlength">
                                Le mot de passe doit contenir au moins 4 caractères
                            </p>
                            <p class="caption status-danger" *ngIf="newPassword.value != confirmNewPassword.value && !confirmNewPassword.errors?.required">
                                La confirmation ne correspond pas au mot de passe.
                            </p>
                        </ng-container>
                    </div>
                    <div>
                        <button type="submit" [disabled]="!monModelForm.valid || isSubmitted" nbButton status="danger" style="border-radius: 20px; border-style: none; display: block; margin-left: auto;margin-right: auto; background-color: #E34234;
                            color: white;">
                            Changer</button>
                    </div>
                    <br />
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>