<!-- <div class="row">
    <div class="col-md-6 m-20" style="margin: auto; margin-bottom: 30px ;">
        <img src="assets/images/logo_fond_bleu.png" width="200" height="80" alt="logo" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
</div> -->
<div class="section-title">
    <h2>Nous contacter</h2>
    <p>Vous pouvez nous laisser vos préoccupations. Nous les traiterons le plus tôt possible... Close</p>

</div>
<div class="row" style="align-items: center;">
    <div class="col-md-6">
        <!-- <div class="col-md-6" style="margin: auto;"> -->


        <!-- <nb-card style="border-bottom-left-radius: 50px; border-bottom-right-radius: 50px;"> -->
        <nb-card style="border-radius: 50px;">
            <nb-card-header style=" text-align: center; font-weight: bold;">Formulaire</nb-card-header>
            <nb-card-body>
                <form (ngSubmit)="submit(monModelForm)" #monModelForm="ngForm">

                    <div class="form-group">
                        <label for="nom" class="label">Nom</label>
                        <input type="text" name="nom" nbInput fullWidth id="nom" placeholder="Nom" [(ngModel)]="model.nom">
                    </div>

                    <div class="form-group">
                        <label for="nomAdmin" class="label">Prenoms</label>
                        <input type="text" name="nomAdmin" nbInput fullWidth id="nom" placeholder="Prenoms" [(ngModel)]="model.prenoms">
                    </div>

                    <div class="form-group">
                        <label for="email" class="label">Email <span style="color: red;">*</span></label>
                        <input type="email" nbInput fullWidth id="email" name="email" placeholder="Email" [(ngModel)]="model.email" #email="ngModel" required pattern=".+@.+\..+" [status]="email.dirty? (email.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="email.invalid && email.touched">
                            <p class="caption status-danger" *ngIf="email.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="email.errors?.pattern">
                                Exemple de saisie: exemple@gmail.com
                            </p>
                        </ng-container>
                    </div>

                    <div class="form-group">
                        <label for="telephone" class="label">Téléphone</label>
                        <input type="tel" name="telephone" nbInput fullWidth id="telephone" placeholder="Téléphone" [(ngModel)]="model.telephone">
                    </div>

                    <div class="form-group">
                        <label for="message" class="label">Message <span style="color: red;">*</span></label>
                        <textarea type="text" rows="10" nbInput fullWidth id="message" [(ngModel)]="model.message" name="message" placeholder="Message" #message="ngModel" required [status]="message.dirty? (message.invalid ? 'danger' : 'success') : ''"></textarea>
                        <ng-container *ngIf="message.invalid && message.touched">
                            <p class="caption status-danger" *ngIf="message.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>

                    <div>
                        <button type="submit" [disabled]="!monModelForm.valid || isSubmitted" nbButton status="danger" style="border-radius: 20px; border-style: none;  display: block; margin-left: auto;margin-right: auto; background-color: #E34234; color: white;">
                            Soumettre
                        </button>
                    </div>
                    <br />
                </form>
            </nb-card-body>
        </nb-card>


    </div>
    <div class="col-md-6">
        <div class="contact_info">
            <div class="s-info">
                <i class="fa fa-map-marker-alt"></i>
                <div class="meta-content">
                    <span>Treichville, Abidjan</span>
                    <span>Rue 13...</span>
                </div>
            </div>
            <div class="s-info">
                <i class="fa fa-mobile-alt"></i>
                <div class="meta-content">
                    <span>+225 0103 789 708</span>
                    <span>+225 0758 789 780</span>
                </div>
            </div>
            <div class="s-info">
                <!-- <i class="fa fa-paper-plane"></i> -->
                <i class="far fa-envelope"></i>
                <div class="meta-content">
                    <span>contact@close-apps.com</span>
                    <span>contact.close-apps@gmail.com</span>
                </div>
            </div>
            <div class="c-social">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>