<nb-card style="border-radius: 50px;">
    <nb-card-header style=" text-align: center; font-weight: bold;">MISE A JOUR DU PROFIL ENSEIGNE</nb-card-header>
    <nb-card-body>
        <form (ngSubmit)="submit(monModelForm)" #monModelForm="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nom" class="label">Nom <span style="color: red;">*</span></label>
                        <input type="text" name="nom" nbInput fullWidth id="nom" placeholder="Nom" [(ngModel)]="model.nom" #nom="ngModel" required [status]="nom.dirty? (nom.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="nom.invalid && nom.touched">
                            <p class="caption status-danger" *ngIf="nom.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="telephone" class="label">Téléphone</label>
                        <input type="tel" nbInput fullWidth id="telephone" [(ngModel)]="model.telephone" name="telephone" placeholder="Téléphone">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email" class="label">Email <span style="color: red;">*</span></label>
                        <input type="email" nbInput fullWidth id="email" name="email" placeholder="Email" [(ngModel)]="model.email" #email="ngModel" required pattern=".+@.+\..+" [status]="email.dirty? (email.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="email.invalid && email.touched">
                            <p class="caption status-danger" *ngIf="email.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="email.errors?.pattern">
                                Exemple de saisie: exemple@gmail.com
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="facebook" class="label">Facebook</label>
                        <input type="text" nbInput fullWidth id="facebook" name="facebook" placeholder="Facebook" [(ngModel)]="model.facebook" #facebook="ngModel" [status]="facebook.dirty? (facebook.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="facebook.invalid && facebook.touched">
                            <p class="caption status-danger" *ngIf="facebook.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="facebook.errors?.pattern">
                                Exemple de saisie: exemple@gmail.com
                            </p>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="role" class="label">Fonction <span style="color: red;">*</span></label>
                        <nb-select name="roleGerantId" fullWidth placeholder="Fonction" [(ngModel)]="model.roleGerantId" #role="ngModel" required [status]="role.dirty? (role.invalid ? 'danger' : 'success') : ''">
                            <nb-option *ngFor="let data of datasRole" [value]="data.id">
                                {{data.libelle}}</nb-option>
                        </nb-select>
                        <ng-container *ngIf="role.invalid && role.touched">
                            <p class="caption status-danger" *ngIf="role.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="urlLogo" class="label">Logo</label>
                        <input type="tel" nbInput fullWidth id="urlLogo" [(ngModel)]="model.urlLogo" name="urlLogo" placeholder="Logo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="instagram" class="label">Instagram</label>
                        <input type="text" nbInput fullWidth id="instagram" name="instagram" placeholder="Instagram" [(ngModel)]="model.instagram" #instagram="ngModel" [status]="instagram.dirty? (instagram.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="instagram.invalid && instagram.touched">
                            <p class="caption status-danger" *ngIf="instagram.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="instagram.errors?.pattern">
                                Exemple de saisie: exemple@gmail.com
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="twitter" class="label">Twitter</label>
                        <input type="text" nbInput fullWidth id="twitter" name="twitter" placeholder="Twitter" [(ngModel)]="model.twitter" #twitter="ngModel" [status]="twitter.dirty? (twitter.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="twitter.invalid && twitter.touched">
                            <p class="caption status-danger" *ngIf="twitter.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="twitter.errors?.pattern">
                                Exemple de saisie: exemple@gmail.com
                            </p>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description" class="label">Description</label>
                        <input type="text" nbInput fullWidth id="description" [(ngModel)]="model.description" name="description" placeholder="Description">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
            </div>
            <div>
                <button type="submit" [disabled]="!monModelForm.valid || isSubmitted" nbButton status="danger" style="border-radius: 20px; border-style: none; display: block; margin-left: auto;margin-right: auto; background-color: #E34234; color:
                            white;">
                    Modifier
                </button>
            </div>
            <br />
        </form>
    </nb-card-body>
</nb-card>