<div class="row">
    <div class="col-md-6 m-20" style="margin: auto; margin-bottom: 30px ;">
        <img src="assets/images/logo_fond_bleu.png" width="200" height="80" alt="logo" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
</div>
<div class="row">
    <div class="col-md-6" style="margin: auto;">


        <nb-card style="border-radius: 50px;">
            <nb-card-header style=" text-align: center; font-weight: bold;">DEMANDE D'INSCRIPTION</nb-card-header>
            <nb-card-body>
                <form (ngSubmit)="submit(monModelForm)" #monModelForm="ngForm">

                    <div class="form-group">
                        <label for="nom" class="label">Entreprise <span style="color: red;">*</span></label>
                        <input type="text" name="nom" nbInput fullWidth id="nom" placeholder="Entreprise" ngModel #nom="ngModel" required [status]="nom.dirty? (nom.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="nom.invalid && nom.touched">
                            <p class="caption status-danger" *ngIf="nom.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>

                    <div class="form-group">
                        <label for="nomAdmin" class="label">Nom <span style="color: red;">*</span></label>
                        <input type="text" name="nomAdmin" nbInput fullWidth id="nom" placeholder="Nom" ngModel #nomAdmin="ngModel" required [status]="nomAdmin.dirty? (nomAdmin.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="nomAdmin.invalid && nomAdmin.touched">
                            <p class="caption status-danger" *ngIf="nomAdmin.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>

                    <div class="form-group">
                        <label for="prenomsAdmin" class="label">Prénoms <span style="color: red;">*</span></label>
                        <input type="text" name="prenomsAdmin" nbInput fullWidth id="prenomsAdmin" placeholder="Prénoms" ngModel #prenomsAdmin="ngModel" required [status]="prenomsAdmin.dirty? (prenomsAdmin.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="prenomsAdmin.invalid && prenomsAdmin.touched">
                            <p class="caption status-danger" *ngIf="prenomsAdmin.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>

                    <div class="form-group">
                        <label for="email" class="label">Email <span style="color: red;">*</span></label>
                        <input type="email" nbInput fullWidth id="email" name="email" placeholder="Email" ngModel #email="ngModel" required pattern=".+@.+\..+" [status]="email.dirty? (email.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="email.invalid && email.touched">
                            <p class="caption status-danger" *ngIf="email.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="email.errors?.pattern">
                                Exemple de saisie: exemple@gmail.com
                            </p>
                        </ng-container>
                    </div>

                    <div class="form-group">
                        <label for="telephone" class="label">Téléphone <span style="color: red;">*</span></label>
                        <input type="tel" name="telephone" nbInput fullWidth id="telephone" placeholder="Téléphone" ngModel #telephone="ngModel" required [status]="telephone.dirty? (telephone.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="telephone.invalid && telephone.touched">
                            <p class="caption status-danger" *ngIf="telephone.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>

                    <!-- <ng-container *ngIf="datasRole"> -->
                    <div class="form-group">
                        <label for="roleGerant" class="label">Fonction <span style="color: red;">*</span></label>
                        <!-- <nb-select name="roleGerantId" fullWidth placeholder="Fonction" ngModel> -->
                        <nb-select name="roleGerantId" fullWidth placeholder="Fonction" ngModel #role="ngModel" required [status]="role.dirty? (role.invalid ? 'danger' : 'success') : ''">

                            <nb-option *ngFor="let data of datasRole" [value]="data.id">
                                {{data.libelle}}</nb-option>
                        </nb-select>
                        <ng-container *ngIf="role.invalid && role.touched">
                            <p class="caption status-danger" *ngIf="role.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>
                    <!-- </ng-container> -->

                    <!-- <ng-container *ngIf="datasSecteurActivite"> -->
                    <div class="form-group">
                        <label for="secteurDactivites" class="label">Secteurs d'activités <span
                                style="color: red;">*</span></label>

                        <!-- <nb-select name="secteurActivites" [(selected)]="datasSecteurActiviteSelected" ngModel #listSecteurActivites="ngModel" fullWidth multiple placeholder="Secteurs d'activités" [status]="listSecteurActivites.dirty ? ( datasSecteurActiviteSelected != null && datasSecteurActiviteSelected.length > 0 && listSecteurActivites.invalid ? 'success' : 'danger') :''"> -->
                        <nb-select name="secteurActivites" [(selected)]="datasSecteurActiviteSelected" ngModel #listSecteurActivites="ngModel" fullWidth multiple placeholder="Secteurs d'activités">
                            <nb-option *ngFor=" let data of datasSecteurActivite " [value]="data ">
                                {{data.libelle}}</nb-option>
                        </nb-select>
                        <!-- <ng-container *ngIf="datasSecteurActiviteSelected !=n ull && listSecteurActivites.invalid && listSecteurActivites.touched ">
                                <p class="caption status-danger " *ngIf="listSecteurActivites.errors?.required ">
                                    Champ requis!
                                </p>
                            </ng-container> -->
                    </div>
                    <!-- </ng-container> -->


                    <!-- <div class="form-group ">
                        <label for="secteurDactivites " class="label ">Secteurs d'activités <span style="color: red; ">*</span>
                                </label>

                                <nb-select name="datasSecteurActivite " fullWidth multiple placeholder="Secteurs d
                                'activités" ngModel #secteurDactivites="ngModel" required [status]="datasSecteurActivite != null && datasSecteurActivite.dirty? (datasSecteurActivite.invalid ? 'danger ' : 'success ') : ' '">
                                    <nb-option value="1">Secteur 1</nb-option>
                                    <nb-option value="2">Secteur 2</nb-option>
                                    <nb-option value="3">Secteur 3</nb-option>
                                    <nb-option value="4">Secteur 4</nb-option>
                                </nb-select>
                                <ng-container *ngIf="datasSecteurActivite != null && datasSecteurActivite.invalid && datasSecteurActivite.touched">
                                    <p class="caption status-danger" *ngIf="datasSecteurActivite.errors?.required">
                                        Champ requis!
                                    </p>
                                </ng-container>
                        </div> -->
                    <!-- <div class="form-group">
                        <label for="description" class="label">Description</label>
                        <textarea nbInput fullWidth placeholder="Description" name="description" ngModel> </textarea>
                    </div> -->
                    <div>
                        <button type="submit" [disabled]="!monModelForm.valid || isSubmitted || !datasSecteurActiviteSelected" nbButton status="danger" style="border-radius: 20px; border-style: none;  display: block; margin-left: auto;margin-right: auto; background-color: #E34234; color: white;">
                            Soumettre
                        </button>
                    </div>
                    <br />
                    <div class="form-group" style="text-align: center;">
                        <a routerLink="/authentification/login"> Se connecter</a>
                    </div>
                    <br />
                </form>
            </nb-card-body>
        </nb-card>


    </div>
</div>