<h1>QR code de la carte à points</h1>







<div class="row">

    <div class="col-md-6">
        <div class="form-group">
            <label for="datasTypeActions" class="label">Action <span style="color: red;">*</span></label>
            <!-- <nb-select name="secteurActivites" [(selected)]="datasSecteurActiviteSelected" ngModel #listSecteurActivites="ngModel" fullWidth multiple placeholder="Secteurs d
                           'activités" [status]="listSecteurActivites.dirty ? ( datasSecteurActiviteSelected != null && datasSecteurActiviteSelected.length > 0 && listSecteurActivites.invalid ?'success' :'danger') :'
                           '"> -->

            <nb-select name="datasTypeActions" required (selectedChange)="changeAction($event)" [(ngModel)]="dataTypeAction" #ngDatasTypeAction="ngModel" fullWidth placeholder="Type action">
                <nb-option *ngFor=" let data of datasTypeAction" [value]="data">
                    {{data.libelle}}</nb-option>
            </nb-select>

            <ng-container *ngIf="ngDatasTypeAction.invalid && (ngDatasTypeAction.dirty || ngDatasTypeAction.touched)">
                <small class="caption status-danger" *ngIf="ngDatasTypeAction.errors?.required">Champ
          requis!</small>
            </ng-container>
            <!-- <ng-container *ngIf="datasSecteurActiviteSelected !=n ull && listSecteurActivites.invalid && listSecteurActivites.touched">
                                                                                        <p class="caption status-danger" *ngIf="listSecteurActivites.errors?.required">
                                                                                            Champ requis!
                                                                                        </p>
                                                                                    </ng-container> -->


        </div>
    </div>
    <div class="col-md-6">

        <!-- <ng-container *ngIf="isDebiter == false"> -->
        <div class="form-group">
            <label for="somme" class="label">Somme achat <span style="color: red;">*</span></label>

            <input type="number" (keyup)="onKeySomme($event)" name="somme" min="1" nbInput fullWidth id="libelle" placeholder="Somme achat" [(ngModel)]="somme" #ngSomme="ngModel" required [status]="ngSomme.touched? (ngSomme.invalid ?'danger' :'success') :''">
            <ng-container *ngIf="ngSomme.invalid && (ngSomme.touched || ngSomme.dirty)">
                <p class="caption status-danger" *ngIf="ngSomme.errors?.required">
                    Champ requis!
                </p>
            </ng-container>
        </div>
        <!-- </ng-container> -->

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="commentaire" class="label">Commentaire</label>
            <textarea type="text" rows="5" nbInput fullWidth id="description" [(ngModel)]="description" name="description" placeholder="Commentaire"></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-auto mr-auto"></div>
    <div class="col-auto">
        <button type="submit" nbButton (click)="activerScan(!isActiverScan)" style="border-radius:  5px; border-style: none; background-color: #E34234; color:
                                                      white;">{{ libelleActionScan }}</button>
    </div>
</div>
<!-- <br/>
<br/>

<div *ngIf="isActiverScan" class="row">
    <div class="col-md-12">
        <zxing-scanner #scanner [enable]="scannerEnabled" [(device)]="desiredDevice" [torch]="torch" (torchCompatible)="onTorchCompatible($event)" (camerasFound)="camerasFoundHandler($event)" (camerasNotFound)="camerasNotFoundHandler($event)" (scanSuccess)="scanSuccessHandler($event)"
            (scanError)="scanErrorHandler($event)" (scanFailure)="scanFailureHandler($event)" (scanComplete)="scanCompleteHandler($event)"></zxing-scanner>
    </div>
</div> -->


<br />
<br />
<div *ngIf="isActiverScan && !isScannerOk" class="row">
    <div class="col-md-12">
        <zxing-scanner #scanner [enable]="scannerEnabled" [(device)]="desiredDevice" [torch]="torch" (torchCompatible)="onTorchCompatible($event)" (camerasFound)="camerasFoundHandler($event)" (camerasNotFound)="camerasNotFoundHandler($event)" (scanSuccess)="scanSuccessHandler($event)"
            (scanError)="scanErrorHandler($event)" (scanFailure)="scanFailureHandler($event)" (scanComplete)="scanCompleteHandler($event)"></zxing-scanner>

    </div>
</div>
<div *ngIf="isScannerOk" class="row">
    <h2 style="color: green;">{{ messageAttenteApresScan }}</h2>
</div>
