<div class="row">
    <div class="col-md-6 m-20" style="margin: auto; margin-bottom: 30px ;">
        <img src="assets/images/logo_fond_bleu.png" width="200" height="80" alt="logo" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
</div>
<div class="row">
    <div class="col-md-6" style="margin: auto;">


        <nb-card style="border-radius: 50px;">
            <nb-card-header style=" text-align: center; font-weight: bold;">CONNEXION</nb-card-header>
            <nb-card-body>
                <form (ngSubmit)="submit(monModelForm)" #monModelForm="ngForm">
                    <div class="form-group">
                        <label for="login" class="label">Identifiant <span style="color: red;">*</span></label>
                        <input type="text" nbInput fullWidth id="login" name="login" placeholder="Identifiant" ngModel #login="ngModel" required [status]="login.dirty? (login.invalid ? 'danger' : 'success') : ''">
                        <ng-container *ngIf="login.invalid && login.touched">
                            <p class="caption status-danger" *ngIf="login.errors?.required">
                                Champ requis!
                            </p>
                        </ng-container>
                    </div>
                    <div class="form-group">
                        <label for="password" class="label">Mot de passe <span style="color: red;">*</span></label>
                        <input type="password" nbInput fullWidth id="password" name="password" placeholder="Mot de passe" ngModel #password="ngModel" minlength="4" required [status]="password.dirty? (password.invalid ? 'danger' : 'success') :
                            ''">
                        <ng-container *ngIf="password.invalid && password.touched">
                            <p class="caption status-danger" *ngIf="password.errors?.required">
                                Champ requis!
                            </p>
                            <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                                Le mot de passe doit contenir au moins 4 caractères
                            </p>
                        </ng-container>
                    </div>

                    <!-- <div class="form-group">
                        <input [type]="getInputType()" nbInput>
                        <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
                                <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
                                    [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                                </nb-icon>
                            </button>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="label">Mot de passe <span
                                style="color: red;">*</span></label>

                        <input [type]="getInputType()" fullWidth nbInput id="password" name="password" placeholder="Mot de passe">
                    </div>
                    <div class="form-group">
                        <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
                            <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
                                [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                            </nb-icon>
                        </button>
                    </div> -->
                    <div class="form-group">
                        <nb-checkbox>Se souvenir de moi</nb-checkbox>
                    </div>
                    <div>
                        <button type="submit" [disabled]="!monModelForm.valid || isSubmitted" nbButton status="danger" style="border-radius: 20px; border-style: none; display: block; margin-left: auto;margin-right: auto; background-color: #E34234; color:white ;">Se
                            connecter</button>

                        <!-- <button type="submit" [disabled]="!monModelForm.valid || monModelForm.submitted" nbButton status="danger" style="border-radius: 20px; border-style: none; display: block; margin-left: auto;margin-right: auto; background-color: #E34234; color:white ;">Se
                            connecter</button>
                        <button type="submit" [disabled]="!monModelForm.valid || monModelForm.submitted" nbButton status="danger" [style]='(!monModelForm.valid || monModelForm.submitted)?
              "border-radius: 20px; display: block; margin-left: auto;margin-right: auto;" :"border-radius: 20px; border-style: none; display: block; margin-left: auto;margin-right: auto; background-color: #E34234; color:white ;" '>Se
                            connecter</button> -->
                    </div>
                    <br />
                    <div class="form-group" style="text-align: center;">
                        <a [routerLink]="pagePasswordOublier" routerLinkActive="active"> Mot de
                            passe oublié
                            ?</a>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>