<nb-card class="custom-border-card">
    <nb-card-header style="text-align: center; font-weight: bold;">Historique du client {{user && user.userNom ? user.userNom + " "+ user.userPrenoms : user?.userLogin }}
    </nb-card-header>
    <nb-card-body>



        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="libelle" class="label">Nom & prénoms : {{user.userNom + " " + user.userPrenoms}}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="matricule" class="label">Téléphone :
            {{user.userTelephone}}</label>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label for="correspondanceNbrePoint" class="label">
            Identifiant :
            {{user.userLogin}}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pourXAcheter" class="label">Email : {{user.userEmail}}</label>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label for="matricule" class="label">Matricule :
            {{user.userMatricule}}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="correspondanceNbrePoint" class="label">
            Numéro carte :
            {{user.code}}</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="row mb-4">
                    <div class="col-md-12">
                        <h1 style="margin-top: 0px; margin-bottom: 0px;">Liste de l'historique des cartes
                        </h1>
                    </div>
                    <br>
                </div>
                <table class="table table-responsive-md table-hover" id="example">
                    <thead>
                        <tr>
                            <th scope="col">Point de vente</th>
                            <th scope="col">Programme de fidélité</th>
                            <th scope="col">Action</th>
                            <th scope="col">Somme opération</th>
                            <th scope="col">Point opération</th>
                            <th scope="col">Point avant opération</th>
                            <th scope="col">Point actuel</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="itemsHistoriqueCarte && itemsHistoriqueCarte.length > 0">
                        <ng-container *ngFor="let data of itemsHistoriqueCarte">
                            <tr>
                                <td>{{data.pointDeVenteNom}}</td>
                                <td>{{data.programmeFideliteCarteLibelle}}
                                </td>
                                <td>{{data.typeActionLibelle}}</td>
                                <td>{{data.sommeOperation}}</td>
                                <td>{{data.nbrePointOperation}}</td>
                                <td> {{data.nbrePointAvantAction}}</td>
                                <td> {{data.nbrePointActuel}}</td>
                                <td> {{data.dateAction}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="row mb-4">
                    <div class="col-md-12">
                        <h1 style="margin-top: 0px; margin-bottom: 0px;">Liste de l'historique des tampons
                        </h1>
                    </div>
                    <br>
                </div>
                <table class="table table-responsive-md table-hover" id="example">
                    <thead>
                        <tr>
                            <th scope="col">Point de vente</th>
                            <th scope="col">Programme de fidélité</th>
                            <th scope="col">Action</th>
                            <th scope="col">Tampon opération</th>
                            <th scope="col">Tampon avant opération</th>
                            <th scope="col">Tampon actuel</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="itemsHistoriqueTampon && itemsHistoriqueTampon.length > 0">
                        <ng-container *ngFor="let data of itemsHistoriqueTampon">
                            <tr>
                                <td>{{data.pointDeVenteNom}}</td>
                                <td>{{data.programmeFideliteTamponLibelle}}</td>
                                <td>{{data.typeActionLibelle}}</td>
                                <td>{{data.nbreTamponObtenu}}</td>
                                <td> {{data.nbreTamponAvantAction}}</td>
                                <td> {{data.nbreTamponActuel}}</td>
                                <td> {{data.dateAction}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

    </nb-card-body>
</nb-card>